<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">示范文档</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>示范文档</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <input id="topic-search-value" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="topic-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>

        <table class="layui-table" id="topic-table" lay-filter="topic-table"></table>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="topic-table-bar">
    <a class="layui-btn layui-btn-xs" lay-event="download">下载</a>
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="preview">预览</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="topic-detail-model">
    <div id="topic-detail-form" class="layui-form model-form">
        <input name="batchID" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">年级</label>
            <div class="layui-input-block">
                <input name="batchName" placeholder="请输入年级" type="text" class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">关闭</button>
        </div>
    </div>
</script>

<script>
    layui.use(['api', 'form', 'table', 'laytpl', 'util', 'common', 'auth', 'admin'], function () {
        var form = layui.form;
        var table = layui.table;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var api = layui.api;
        var laytpl = layui.laytpl;

        var user = auth.getUser();

        // 渲染表格
        table.render({
            elem: '#topic-table',
            url: common.base_server + 'stuPage/getModelList',
            method: 'POST',
            where: {
                UUID: auth.getUUID(),
                batchID: user.batchID,
                classID: user.classID
            },
            request: common.tableRequest,
            response: common.tableResponse,
            parseData: common.tableParseData,
            height: 'full-250',
            page: true,
            cols: [[
                {type: 'numbers'},
                // {field: 'batchID', title: 'batchID', width: 120},
                {field: 'pageTitle', title: '论文标题'},
                {field: 'userName', title: '作者'},
                {field: 'className', title: '专业名称'},
                {align: 'center', toolbar: '#topic-table-bar', title: '操作', width: 120}
            ]]
        });


        // 工具条点击事件
        table.on('tool(topic-table)', function (obj) {
            var data = obj.data;

            if (obj.event === 'download') {
                download(data.downLoadAddr)
            } else if (obj.event === 'preview') {
                preview(data.downLoadAddr)
            }
        });

        // 搜索按钮点击事件
        $('#topic-btn-search').click(function () {
            var keyword = $('#topic-search-value').val();
            table.reload('topic-table', {where: {keyword: keyword}});
        });


        function preview(url) {
            // window.open('https://view.officeapps.live.com/op/view.aspx?src=' + $(this).data('url'), 'preview')
            window.open('http://www.xdocin.com/xdoc?_func=to&_format=html&_cache=true&_xdoc=' + url, 'preview');
        }

        function download(url) {
            try {
                var elemIF = document.createElement("iframe");
                elemIF.src = url;
                elemIF.style.display = "none";
                document.body.appendChild(elemIF);
            } catch (e) {

            }
        }
    });
</script>