<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">开题管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>开题管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body layui-col-md6 layui-col-md-offset4">

        <form id="class-form" lay-filter="class-form" class="layui-form model-form">
            <input name="id" type="hidden"/>
            <div class="layui-form-item">
                <label class="layui-form-label">已选题目</label>
                <div class="layui-input-block">
                    <input name="userNo" id="myTopic"  placeholder="" type="text" class="layui-input" readonly="readonly" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">论文</label>
                <div class="layui-input-block">
                    <input name="userName" id="myThesis"  placeholder="" type="text" class="layui-input" maxlength="6" readonly="readonly"/>
                    <button id="layui-btn-uploadordownload" class="layui-btn" lay-filter="class-form-uploadordownload" lay-submit >上传论文</button>
                    <button id="layui-btn-delete" class="layui-btn layui-btn-primary" style="display: none" lay-filter="class-form-delete" lay-submit>删除</button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-item layui-col-md7">
                    <label class="layui-form-label">组名</label>
                    <div class="layui-input-block">
                        <input name="userPass" id="myGroupNum" placeholder="尚未分组" type="password" class="layui-input" readonly="readonly"/>
                    </div>
                </div>
                <div class="layui-input-block" style="margin-left: 50px">
                    <button id="layui-btn-msg-about-group" class="layui-btn"  lay-filter="class-form-msg-about-group" lay-submit>查看小组信息</button>
                </div>
            </div>
            <div class="layui-form-item layui-col-md7">
                <label class="layui-form-label">负责老师</label>
                <div class="layui-input-block">
                    <input name="userPhone" id="myTea" type="text" class="layui-input" maxlength="11" readonly="readonly"  />
                </div>
            </div>

            <div class="layui-form-item layui-col-md7" >
                <label class="layui-form-label">老师评分</label>
                <div class="layui-input-block">
                    <input name="userPhone" id="myTeaScore" placeholder="老师评分" type="text" class="layui-input" maxlength="11" readonly="readonly"  />
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">老师批语</label>
                <div class="layui-input-block">
                    <textarea name="userPhone" rows="5" cols="5" id="userPhone" type="text" class="layui-textarea" readonly="readonly" ></textarea>
                </div>
            </div>
            <div class="layui-form-item model-form-footer" align="center">
                <button id="layui-btn-save" class="layui-btn"  lay-filter="class-form-submit" style="display: none"  lay-submit>保存</button>
            </div>
        </form>

    </div>
</div>



<script>

    function showTopicDetail(id){
        layer.open({
            type: 1,
            title:'详情',
            area: '450px',
            offset: '120px',
            content: $('#topic-model').html(),
            success: function () {
                // $('#topic-form')[0].reset();
                // $('#topic-form').attr('method', 'GET');
                //if (data) {
                //   $('#topic-form').vm(data)
                // form.val('topic-form', data);
                // $('#topic-form').attr('method', 'GET');

                //}
            }
        });
    };



    layui.use(['table', 'form','common', 'auth','upload'], function(){
        var table = layui.table;
        var form = layui.form;
        var common = layui.common;
        var auth = layui.auth;
        var upload = layui.upload;

        table.render({
            elem: '#select-paper',
            url: common.base_server + 'select_paper.json',
            where: {
                UUID: auth.getUUID()
            },
            cols: [[
                {field:'paperId', width:80, title: '论文ID'}
                ,{field:'paperName', title: '论文标题',templet: '#paperNameTpl'}
                ,{align: 'center', toolbar: '#role-table-bar', title: '操作'}
            ]]
            ,page: true
        });

        //指定允许上传的文件类型
        upload.render({
            elem: '#layui-btn-uploadordownload'
            ,url: '/upload/'
            ,accept: 'file' //普通文件
            ,done: function(res){
                console.log(res)
            }
        });

        // 表单提交事件
        form.on('submit(topic-form-submit)', function (data) {
            layer.closeAll();;
            return false;
        });



        // 工具条点击事件
        table.on('tool(select-paper)', function (obj) {
            var data = obj.data;
            if (obj.event === 'confirm' && $('#opTopic').attr('class').toString().indexOf('layui-btn-disabled') < 0) { //修改
                var confirmValue = $('#opTopicValue').val();
                if(confirmValue === 'confirm'){
                    layer.confirm('确认选择该课题？', {title:''}, function () {
                        //提示层
                        //增加 api
                        $('#opTopicValue').val('cancle');
                        $('#opTopic').text('取消');
                        var child = $("#opTopicValue").parents('table').find('.opBtnGroup');
                        child.each(function(index, item){
                            var childBtnOp = item.childNodes.item(3);
                            if("确认" === childBtnOp.innerHTML){
                                childBtnOp.className = 'layui-btn layui-btn-primary layui-btn-xs layui-btn-disabled';
                            }
                        });
                        //form.render('checkbox');


                        //$('#opTopic').attr('class','');
                        layer.msg('您已选择该课题，等待导师确认');
                    });
                }else if(confirmValue === 'cancle'){
                    layer.confirm('确认取消该课题？', {title:''}, function () {
                        //提示层
                        //增加 api
                        $('#opTopicValue').val('cancle');
                        $('#opTopic').text('确认');
                        layer.msg('您已取消该课题');
                    });
                }


            }
        });
    });
</script>