<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">个人信息</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>个人信息</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md6 layui-col-md-offset4">


                    <form id="class-form" lay-filter="class-form" class="layui-form model-form">
                        <input name="classID" type="hidden"/>
                        <div class="layui-form-item">
                            <label class="layui-form-label">学号</label>
                            <div class="layui-input-block">
                                <input name="userNo" id="userNo"  placeholder="" type="text" class="layui-input" readonly="readonly" lay-verify="required"  required/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-block">
                                <input name="userName" id="userName"  placeholder="" type="text" class="layui-input" maxlength="6" readonly="readonly" lay-verify="required" required/>
                            </div>
                        </div>
                       <!-- <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input name="loginPwd" id="userPass" type="password" class="layui-input" readonly="readonly" lay-verify="required" required/>
                            </div>
                        </div>-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-block">
                                <input name="userTel" id="userPhone" type="text" class="layui-input" maxlength="11" readonly="readonly" onkeyup="this.value=this.value.replace(/\D/g,'')" />
                            </div>
                        </div>
                        <div class="layui-form-item model-form-footer" align="center">
                            <button id="layui-btn-cancle" class="layui-btn layui-btn-primary"  style="display: none"   type="button" lay-filter="class-form-cancle" lay-submit>取消</button>
                            <button id="layui-btn-change" class="layui-btn" lay-filter="class-form-change" lay-submit>修改</button>
                            <button id="layui-btn-save" class="layui-btn"  lay-filter="class-form-save" style="display: none"  lay-submit>保存</button>
                        </div>
                    </form>


                    <!-- <table class="layui-table layui-text" id="userinfo">
                         <colgroup>
                             <col width="150">
                             <col>
                         </colgroup>
                         <tbody>
                         <tr>
                             <td align="right">学号</td>
                             <td>{{userNo}}</td>
                         </tr>
                         <tr>
                             <td align="right">姓名</td>
                             <td>{{userName}}</td>
                         </tr>
                         <tr>
                             <td align="right">联系电话</td>
                             <td>{{userTel}}</td>
                         </tr>
                         </tbody>
                     </table>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['carousel', 'form','auth', 'api', 'table'], function(){
        var carousel = layui.carousel;
        var auth = layui.auth;
        var form = layui.form;
        var api = layui.api;
        //$('#userinfo').vm(auth.getUser());
       // alert(Object.keys(auth.getUser()));
       // alert(Object.values(auth.getUser()));
        $('#userNo').val(auth.getUser().userNo);
        $('#userName').val(auth.getUser().loginName);
        //$('#userPass').val(auth.getUser().loginPwd);
        $('#userPhone').val(auth.getUser().userTel);

        // change msg
        form.on('submit(class-form-change)', function (data) {
            $('#userNo').removeAttr("readonly");
            $('#userName').removeAttr("readonly");
            $('#userPass').removeAttr("readonly");
            $('#userPhone').removeAttr("readonly");

            $("#layui-btn-change").css({//设置 取消 按钮样式
                "display": "none"
            });
            $("#layui-btn-cancle").css({//设置 取消 按钮样式
                "display": "inline"
            });
            $("#layui-btn-save").css({//设置 取消 按钮样式
                "display": "inline"
            });
            //光标设置
            var tmpUserNo=$("#userNo").val();
            $("#userNo").val("").focus().val(tmpUserNo);
            return false;
        });


        function disableBtn() {
            $('#userNo').attr("readonly","readonly");
            $('#userName').attr("readonly","readonly");
            $('#userPass').attr("readonly","readonly");
            $('#userPhone').attr("readonly","readonly");

            $("#layui-btn-change").css({//设置 取消 按钮样式
                "display": "inline"
            });
            $("#layui-btn-cancle").css({//设置 取消 按钮样式
                "display": "none"
            });
            $("#layui-btn-save").css({//设置 取消 按钮样式
                "display": "none"
            });

        };

        form.on('submit(class-form-cancle)', function (data) {
            disableBtn();
            return false;
        });

        form.on('submit(class-form-save)', function (data) {

            var url = 'userInfo/editUserInfo';

            data.field.loginName = auth.getUser().loginName;
            data.field.userSex = auth.getUser().userSex;

            api.req(url, data.field, function (data) {

                if (data.Status == 2000) {
                    layer.msg(data.Data.Result, {icon: 1});
                    disableBtn();
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });

            return false;
        });

    });



</script>

