<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">开题管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a href="#!my-paper">论文管理</a>
          <a><cite>开题管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body layui-col-md8 layui-col-md-offset2" id="topic-info-container">

    </div>
</div>

<script type="text/html" id="topic-info">

    <form id="topic-form" lay-filter="topic-form" class="layui-form topic-form" enctype="multipart/form-data">
        <input name="stqID" id="stqID" type="hidden" value="{{d.stqID}}"/>
        <input name="groupID" id="groupID" type="hidden" value="{{d.groupID}}"/>
        <input name="spID" id="spID" type="hidden" value="{{d.spID}}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">已选题目</label>
            <div class="layui-form-mid layui-word-aux">
                <a href="javascript:;" class="topic-title">{{d.title}}</a>
                {{# if (d.reviewState) { }}
                {{# if (d.ismodel == 1) { }}
                <span class="layui-badge">范文</span>
                {{# } else { }}
                <span class="layui-badge layui-bg-gray">非范文</span>
                {{# } }}
                {{# } }}
                <span class="topic-content" style="display: none"><pre>{{d.content}}</pre></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">组号</label>
            <div class="layui-form-mid">
                {{d.groupName}} <a href="javascript:;" id="group-preview" class="layui-badge layui-bg-blue">查看小组信息</a>
            </div>
        </div>

        <!-- 老师未批阅 -->
        <div>
            {{# if (!d.reviewState) { }}
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">开题报告</label>
                    <div class="layui-input-block">
                        <input name="pageTitle1" value="{{d.pageTitle1}}" placeholder="请输入开题报告" type="text" class="layui-input" maxlength="400"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn select-file">选择文件</button>
                            <input name="file1" type="file" class="layui-upload-file" id="file1" data-fileindex="1"/>
                            <input name="fileName1" type="hidden" data-state="1"/>
                            <div class="layui-inline layui-upload-choose"></div>
                            {{# if(d.subState1){ }}
                            <button type="button" class="layui-btn file-download" data-url="{{d.downLoadAddr1}}">下载</button>
                            <button type="button" class="layui-btn file-preview" data-url="{{d.downLoadAddr1}}">在线浏览</button>
                            <button type="button" class="layui-btn file-del layui-btn-danger" data-fileindex="1" data-url="{{d.downLoadAddr1}}">删除</button>
                            {{# } }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">文献综述</label>
                    <div class="layui-input-block">
                        <input name="pageTitle2" value="{{d.pageTitle2}}" placeholder="请输入文献综述" type="text" class="layui-input" maxlength="400"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn select-file">选择文件</button>
                            <input name="file2" type="file" class="layui-upload-file" id="file2" data-fileindex="2"/>
                            <input name="fileName2" type="hidden" data-state="1"/>
                            <div class="layui-inline layui-upload-choose"></div>
                            {{# if(d.subState2){ }}
                            <button type="button" class="layui-btn file-download" data-url="{{d.downLoadAddr2}}">下载</button>
                            <button type="button" class="layui-btn file-preview" data-url="{{d.downLoadAddr2}}">在线浏览</button>
                            <button type="button" class="layui-btn file-del layui-btn-danger" data-fileindex="2" data-url="{{d.downLoadAddr2}}">删除</button>
                            {{# } }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">任务书</label>
                    <div class="layui-input-block">
                        <input name="pageTitle3" value="{{d.pageTitle3}}" placeholder="请输入任务书" type="text" class="layui-input" maxlength="400"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn select-file">选择文件</button>
                            <input name="file3" type="file" class="layui-upload-file" id="file3" data-fileindex="3"/>
                            <input name="fileName3" type="hidden" data-state="1"/>
                            <div class="layui-inline layui-upload-choose"></div>
                            {{# if(d.subState3){ }}
                            <button type="button" class="layui-btn file-download" data-url="{{d.downLoadAddr3}}">下载
                            </button>
                            <button type="button" class="layui-btn file-preview" data-url="{{d.downLoadAddr3}}">在线浏览
                            </button>
                            <button type="button" class="layui-btn file-del layui-btn-danger" data-fileindex="3" data-url="{{d.downLoadAddr3}}">删除</button>
                            {{# } }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">计划进度</label>
                    <div class="layui-input-block">
                        <input name="pageTitle4" value="{{d.pageTitle4}}" placeholder="请输入计划进度" type="text" class="layui-input" maxlength="400"/>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn select-file">选择文件</button>
                            <input name="file4" type="file" class="layui-upload-file" id="file" data-fileindex="4"/>
                            <input name="fileName4" type="hidden" data-state="1"/>
                            <div class="layui-inline layui-upload-choose"></div>
                            {{# if(d.subState4){ }}
                            <button type="button" class="layui-btn file-download" data-url="{{d.downLoadAddr4}}">下载</button>
                            <button type="button" class="layui-btn file-preview" data-url="{{d.downLoadAddr4}}">在线浏览</button>
                            <button type="button" class="layui-btn file-del layui-btn-danger" data-fileindex="4" data-url="{{d.downLoadAddr4}}">删除</button>
                            {{# } }}
                        </div>
                    </div>
                </div>
            </div>
            {{# } }}


            {{# if (d.reviewState) { }}
            <div class="layui-form-item">
                <label class="layui-form-label">开题报告</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.pageTitle1}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开题报告附件</label>
                <div class="layui-input-block">
                    <div class="layui-upload">
                        {{# if(d.subState1){ }}
                        <button type="button" class="layui-btn" id="file-download" data-url="{{d.downLoadAddr1}}">下载</button>
                        <button type="button" class="layui-btn" id="file-preview" data-url="{{d.downLoadAddr1}}">在线浏览</button>
                        {{# } }}
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">文献综述</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.pageTitle2}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">论文文献综述附件</label>
                <div class="layui-input-block">
                    <div class="layui-upload">
                        {{# if(d.subState2){ }}
                        <button type="button" class="layui-btn file-download" data-url="{{d.downLoadAddr2}}">下载</button>
                        <button type="button" class="layui-btn file-preview" data-url="{{d.downLoadAddr2}}">在线浏览</button>
                        {{# } }}
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">任务书</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.pageTitle3}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">任务书</label>
                <div class="layui-input-block">
                    <div class="layui-upload">
                        {{# if(d.subState3){ }}
                        <button type="button" class="layui-btn file-download" data-url="{{d.downLoadAddr3}}">下载</button>
                        <button type="button" class="layui-btn file-preview" data-url="{{d.downLoadAddr3}}">在线浏览</button>
                        {{# } }}
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">计划进度</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.pageTitle4}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">计划进度</label>
                <div class="layui-input-block">
                    <div class="layui-upload">
                        {{# if(d.subState4){ }}
                        <button type="button" class="layui-btn file-download" data-url="{{d.downLoadAddr4}}">下载</button>
                        <button type="button" class="layui-btn file-preview" data-url="{{d.downLoadAddr4}}">在线浏览</button>
                        {{# } }}
                    </div>
                </div>
            </div>
            {{# } }}

            {{# if (!d.reviewState) { }}
            <div class="layui-form-item" style="text-align: center">
                <!--<button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>-->
                <button class="layui-btn" lay-filter="topic-form-submit" lay-submit>保存</button>
                {{# if(d.subState1 || d.subState2 || d.subState3 || d.subState4){ }}
                <button type="button" class="layui-btn layui-btn-danger" id="topic-form-del">删除</button>
                {{# } }}
            </div>
            {{# } }}
        </div>

        <!-- 老师已经批阅 -->
        <div>


            {{# if (d.reviewState) { }}

            <div class="layui-form-item">
                <label class="layui-form-label">负责老师</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.teaName}} <span>{{d.teaCTime}}</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">老师评分</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.score}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">老师评语</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.teaContent}}
                </div>
            </div>
            {{# } }}
        </div>
    </form>

</script>

<!-- 分组信息 -->
<script type="text/html" id="group-info">
    <div class="layui-card">

        <div class="layui-card-body">

            <table class="layui-table">
                <colgroup>
                    <col width="60">
                    <col >
                    <col width="80">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>组员</th>
                    <th>角色</th>
                </tr>
                </thead>
                <tbody>
                {{#  layui.each(d.Data, function(index, item){ }}
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.userName }}</td>
                    <td>
                        {{#  if(item.userType === 1){ }}
                        学生
                        {{#  } else if(item.userType === 2){ }}
                        老师
                        {{#  } else { }}
                        管理员
                        {{#  } }}
                    </td>
                </tr>
                {{#  }); }}
                {{#  if(!d.Data || d.Data.length === 0){ }}
                <tr>
                    <td colspan="3">无数据</td>
                </tr>
                {{#  } }}
                </tbody>
            </table>
            <div class="model-view-footer">
                <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">关闭</button>
            </div>
        </div>
    </div>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="topic-group">

    <div class="layui-card">
        <div class="layui-form-item">
            <label class="layui-form-label">本组负责老师</label>
            <div class="layui-form-mid layui-word-aux">
                {{teacherName}}
            </div>
        </div>

        <table  id="my-group" lay-filter="my-group"></table>

        <div class="layui-form-item model-form-footer">
            <button class="layui-btn" lay-filter="topic-form-submit" lay-submit>取消</button>
        </div>
    </div>

</script>



<script>
    layui.use(['table', 'form', 'api','common', 'auth', 'upload', 'laytpl'], function(){
        var table = layui.table;
        var form = layui.form;
        var api = layui.api;
        var common = layui.common;
        var auth = layui.auth;
        var upload = layui.upload;
        var laytpl = layui.laytpl;

        var stage = 1;

        initData();

        function initData() {
            api.req('stuPage/stuPageInfo2', {stage: 1}, function (data) {
            // api.req('student_page_info.json', {stage: 1}, function (data) {
                layer.closeAll('loading');
                if (data.Status === 2000) {
                    var paperData = data.Data;
                    paperData.subState1 = paperData.downLoadAddr1 && paperData.downLoadAddr1.length > 0;
                    paperData.subState2 = paperData.downLoadAddr2 && paperData.downLoadAddr2.length > 0;
                    paperData.subState3 = paperData.downLoadAddr3 && paperData.downLoadAddr3.length > 0;
                    paperData.subState4 = paperData.downLoadAddr4 && paperData.downLoadAddr4.length > 0;
                    paperData.reviewState = paperData.score !== '' && paperData.score > 0;
                    laytpl($('#topic-info').html()).render(paperData, function (html) {
                        $('#topic-info-container').html(html)
                        initEvent()
                    })
                    layer.closeAll('page');
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
        }

        function initEvent() {
            $('.layui-upload button.select-file').on('click', function () {
                $(this).next('input[type="file"]').click();
            });
            $('.layui-upload input[type="file"]').on('change', function () {
                var fileindex = $(this).data('fileindex');
                var filePath = $(this).val();
                if (!filePath) return false;
                var fileName = filePath.substring(filePath.lastIndexOf("\\") + 1);

                if (filePath.indexOf("xls") !== -1 || filePath.indexOf("xlsx") !== -1 || filePath.indexOf("doc") !== -1 || filePath.indexOf("docx") !== -1) {
                    var $fn = $(this).next('input[name="fileName' + fileindex + '"]');
                    $fn.val(fileName);
                    $fn.data('state', 0);
                    $(this).parents('div.layui-upload').children('.layui-upload-choose').html(fileName);
                } else {
                    layer.msg('您选择的上传文件类型有误！', {icon: 2});
                    return false
                }
            });
            $('#group-preview').click(function () {
                var groupID = $('#topic-form input[name=groupID]').val();
                api.req('group/getGroupUser', {groupID: groupID}, function (data) {
                    layer.closeAll('loading');
                    if (data.Status === 2000) {
                        layer.closeAll('page');
                        laytpl($('#group-info').html()).render(data, function (html) {
                            layer.open({
                                type: 1,
                                title: '查看组成员',
                                area: '450px',
                                offset: '120px',
                                content: html
                            });
                        })
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                });
            });

            $('.topic-title').on('click', function() {
                var that = this;
                // layer.tips($('.topic-content').html(), that); //在元素的事件回调体中，follow直接赋予this即可
                layer.alert($('.topic-content').html(), {title: '内容',closeBtn: 0});

            });

            $('.file-download').on('click', function() {
                try {
                    var elemIF = document.createElement("iframe");
                    elemIF.src = $(this).data('url');
                    elemIF.style.display = "none";
                    document.body.appendChild(elemIF);
                } catch (e) {

                }
            });

            $('.file-preview').on('click', function() {
                // window.open('https://view.officeapps.live.com/op/view.aspx?src=' + $(this).data('url'), 'preview')
                window.open('http://www.xdocin.com/xdoc?_func=to&_format=html&_cache=true&_xdoc=' + $(this).data('url'), 'preview')
            });

            $('.file-del').on('click', function() {
                api.req('stuPage/delUpLoad2', {spID: $('#topic-form > input[name=spID]').val(), target: $(this).data('fileindex')}, function (data) {
                    layer.closeAll('loading');
                    if (data.Status === 2000) {
                        layer.closeAll('loading');
                        initData();
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                });
            });


            $('#topic-form-del').click(function () {
                api.req('stuPage/delUpLoad', {spID: $('#topic-form > input[name=spID]').val()}, function (data) {
                    layer.closeAll('loading');
                    if (data.Status === 2000) {
                        layer.closeAll('loading');
                        initData();
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                });
            });
        };

        // 表单提交事件
        form.on('submit(topic-form-submit)', function (data) {
            layer.load(2);
            var url = '';
            if (data.field.stqID) {
                url = 'stuPage/upLoadFile2';
            } else {
                url = 'stuPage/upLoadFile2';
            }
            var formData = new FormData($('#topic-form')[0]);
            var fs1 = $('input[name="fileName1"]').data('state') === 1;
            var fs2 = $('input[name="fileName2"]').data('state') === 1;
            var fs3 = $('input[name="fileName3"]').data('state') === 1;
            var fs4 = $('input[name="fileName4"]').data('state') === 1;
            if ((data.field.pageTitle1 && !data.field.fileName1 && !fs1) || (!data.field.pageTitle1 && data.field.fileName1 && !fs1)) {
                layer.msg('填写的开题报告信息不完整', {icon: 2});
                return false;
            } else if ((!data.field.pageTitle1 && !data.field.fileName1) || fs1) {
                formData.delete("pageTitle1");
                formData.delete("file1");
                formData.delete("fileName1");
            }
            if ((data.field.pageTitle2 && !data.field.fileName2 && !fs2) || (!data.field.pageTitle2 && data.field.fileName2 && !fs2)) {
                layer.msg('填写的文献综述信息不完整', {icon: 2});
                return false;
            } else if ((!data.field.pageTitle2 && !data.field.fileName2) || fs2) {
                formData.delete("pageTitle2");
                formData.delete("file2");
                formData.delete("fileName2");
            }
            if ((data.field.pageTitle3 && !data.field.fileName3 && !fs3) || (!data.field.pageTitle3 && data.field.fileName3 && !fs3)) {
                layer.msg('填写的任务书信息不完整', {icon: 2});
                return false;
            } else if ((!data.field.pageTitle3 && !data.field.fileName3) || fs3) {
                formData.delete("pageTitle3");
                formData.delete("file3");
                formData.delete("fileName3");
            }
            if ((data.field.pageTitle4 && !data.field.fileName4 && !fs4) || (!data.field.pageTitle4 && data.field.fileName4 && !fs4)) {
                layer.msg('填写的计划进度信息不完整', {icon: 2});
                return false;
            } else if ((!data.field.pageTitle4 && !data.field.fileName4) || fs4) {
                formData.delete("pageTitle4");
                formData.delete("file4");
                formData.delete("fileName4");
            }

            formData.append('UUID', auth.getUUID())
            formData.append('stage', stage);
            api.ajax({
                url: common.base_server + url,
                data: formData,
                type: 'POST',
                cache: false,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.Status === 2000) {
                        if (data.Data.Result) {
                            layer.msg(data.Data.Result, {icon: 1});
                        } else {
                            layer.msg('保存成功', {icon: 1});
                        }
                        initData();
                        // table.reload('topic-table');
                        layer.closeAll('page');
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                }
            });

            return false;
        });




    });
</script>