<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">开题管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a href="#!my-paper">论文管理</a>
          <a><cite>开题管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body layui-col-md6 layui-col-md-offset3" id="topic-info-container">

    </div>
</div>

<script type="text/html" id="topic-info">

    <form id="topic-form" lay-filter="topic-form" class="layui-form topic-form" enctype="multipart/form-data">
        <input name="stqID" id="stqID" type="hidden" value="{{d.stqID}}"/>
        <input name="groupID" id="groupID" type="hidden" value="{{d.groupID}}"/>
        <input name="spID" id="spID" type="hidden" value="{{d.spID}}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">已选题目</label>
            <div class="layui-form-mid layui-word-aux">
                <a href="javascript:;" class="topic-title">{{d.title}}</a>
                {{# if (d.reviewState) { }}
                {{# if (d.ismodel == 1) { }}
                <span class="layui-badge layui-bg-green">范文</span>
                {{# } else { }}
                <span class="layui-badge layui-bg-gray">非范文</span>
                {{# } }}
                {{# } }}
                <span class="topic-content" style="display: none"><pre>{{d.content}}</pre></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">组号</label>
            <div class="layui-form-mid">
                {{d.groupName}} <a href="javascript:;" id="group-preview" class="layui-badge layui-bg-blue">查看小组信息</a>
            </div>
        </div>

        <!-- 老师未批阅 -->
        <div>
            {{# if (!d.reviewState) { }}
            <div class="layui-form-item">
                <label class="layui-form-label">论文标题</label>
                <div class="layui-input-block">
                    <input name="pageTitle" placeholder="请输入论文标题" type="text" class="layui-input" maxlength="400" lay-verify="required" required/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">论文附件</label>
                <div class="layui-input-block">
                    <div class="layui-upload">
                        <button type="button" class="layui-btn select-file">选择文件</button>
                        <input name="file" type="file" class="layui-upload-file" id="file"/>
                        <input name="fileName" type="hidden"/>
                        <div class="layui-inline layui-upload-choose"></div>
                        {{# if(d.subState){ }}
                        <button type="button" class="layui-btn" id="file-upload">下载</button>
                        <button type="button" class="layui-btn" id="file-preview">在线浏览</button>
                        {{# } }}
                    </div>
                </div>
            </div>
            <div class="layui-form-item model-form-footer">
                <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
                <button class="layui-btn" lay-filter="topic-form-submit" lay-submit>保存</button>
                {{# if(d.subState){ }}
                <button type="button" class="layui-btn layui-btn-danger" lay-filter="topic-form-del" lay-submit>删除</button>
                {{# } }}
            </div>
            {{# } }}
        </div>

        <!-- 老师已经批阅 -->
        <div>
            {{# if (d.reviewState) { }}

            <div class="layui-form-item">
                <label class="layui-form-label">论文标题</label>
                <div class="layui-input-block">
                    <input name="spID" type="hidden"/>
                    <input name="pageTitle" placeholder="请输入论文标题" type="text" class="layui-input" maxlength="400" lay-verify="required" required/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">论文附件</label>
                <div class="layui-input-block">
                    <div class="layui-upload">
                        {{# if(d.subState){ }}
                        <button type="button" class="layui-btn" id="file-upload">下载</button>
                        <button type="button" class="layui-btn" id="file-preview">在线浏览</button>
                        {{# } }}
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">负责老师</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.teaName}} <span>{{d.teaCTime}}</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">老师评分</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.score}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">老师评语</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.teaContent}}
                </div>
            </div>
            {{# } }}
        </div>
    </form>

</script>

<!-- 分组信息 -->
<script type="text/html" id="group-info">
    <div class="layui-card">

        <div class="layui-card-body">

            <table class="layui-table">
                <colgroup>
                    <col width="60">
                    <col >
                    <col width="80">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>组员</th>
                    <th>角色</th>
                </tr>
                </thead>
                <tbody>
                {{#  layui.each(d.Data, function(index, item){ }}
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ item.userName }}</td>
                    <td>
                        {{#  if(item.userType === 1){ }}
                        学生
                        {{#  } else if(item.userType === 2){ }}
                        老师
                        {{#  } else { }}
                        管理员
                        {{#  } }}
                    </td>
                </tr>
                {{#  }); }}
                {{#  if(!d.Data || d.Data.length === 0){ }}
                <tr>
                    <td colspan="3">无数据</td>
                </tr>
                {{#  } }}
                </tbody>
            </table>
            <div class="model-view-footer">
                <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">关闭</button>
            </div>
        </div>
    </div>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="topic-group">

    <div class="layui-card">
        <div class="layui-form-item">
            <label class="layui-form-label">本组负责老师</label>
            <div class="layui-form-mid layui-word-aux">
                {{teacherName}}
            </div>
        </div>

        <table  id="my-group" lay-filter="my-group"></table>

        <div class="layui-form-item model-form-footer">
            <button class="layui-btn" lay-filter="topic-form-submit" lay-submit>取消</button>
        </div>
    </div>

</script>



<script>
    layui.use(['table', 'form', 'api','common', 'auth','upload','laytpl'], function(){
        var table = layui.table;
        var form = layui.form;
        var api = layui.api;
        var common = layui.common;
        var auth = layui.auth;
        var upload = layui.upload;
        var laytpl = layui.laytpl;

        var stage = 1;

        initData();

        function initData() {
            api.req('stuPage/stuPageInfo', {stage: 1}, function (data) {
            // api.req('student_page_info.json', {stage: 1}, function (data) {
                layer.closeAll('loading');
                if (data.Status === 2000) {
                    var paperData = data.Data;
                    paperData.subState = paperData.upFiles || paperData.upFiles.length > 0;
                    paperData.reviewState = paperData.score !== '' && paperData.score > 0;
                    laytpl($('#topic-info').html()).render(paperData, function (html) {
                        $('#topic-info-container').html(html)
                        initEvent()
                    })
                    layer.closeAll('page');
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
        }

        function initEvent() {
            $('.layui-upload button.select-file').on('click', function () {
                $(this).next('input[type="file"]').click();
            });
            $('.layui-upload input[type="file"]').on('change', function () {
                var filePath = $(this).val();
                if (!filePath) return false;
                var fileName = filePath.substring(filePath.lastIndexOf("\\") + 1);

                if (filePath.indexOf("xls") !== -1 || filePath.indexOf("xlsx") !== -1 || filePath.indexOf("doc") !== -1 || filePath.indexOf("docx") !== -1) {
                    $(this).next('input[name="fileName"]').val(fileName);
                    $(this).parents('div.layui-upload').children('.layui-upload-choose').html(fileName);
                } else {
                    layer.msg('您选择的上传文件类型有误！', {icon: 2});
                    return false
                }
            });
            $('#group-preview').click(function () {
                var groupID = $('#topic-form input[name=groupID]').val();
                api.req('group/getGroupUser', {groupID: groupID}, function (data) {
                    layer.closeAll('loading');
                    if (data.Status === 2000) {
                        layer.closeAll('page');
                        laytpl($('#group-info').html()).render(data, function (html) {
                            layer.open({
                                type: 1,
                                title: '查看组成员',
                                area: '450px',
                                offset: '120px',
                                content: html
                            });
                        })
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                });
            });

            $('.topic-title').on('click', function() {
                var that = this;
                layer.tips($('.topic-content').html(), that); //在元素的事件回调体中，follow直接赋予this即可
            });
        };

        // 表单提交事件
        form.on('submit(topic-form-submit)', function (data) {
            layer.load(2);
            var url = '';
            if (data.field.stqID) {
                url = 'stuPage/upLoadFile';
            } else {
                url = 'stuPage/upLoadFile';
            }
            if (!data.field.fileName) {
                layer.msg('请选择附件', {icon: 2});
                return false;
            }

            var formData = new FormData($('#topic-form')[0]);
            formData.append('UUID', auth.getUUID())
            formData.append('stage', stage);
            api.ajax({
                url: common.base_server + url,
                data: formData,
                type: 'POST',
                cache: false,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.Status == 2000) {
                        if (data.Data.Result) {
                            layer.msg(data.Data.Result, {icon: 1});
                        } else {
                            layer.msg('保存成功', {icon: 1});
                        }
                        initData();
                        // table.reload('topic-table');
                        layer.closeAll('page');
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                }
            });

            return false;
        });
    });
</script>