<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">选择课题</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>选择课题</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <table class="layui-hide" id="select-paper" lay-filter="select-paper"></table>
    </div>
</div>


<!-- 表格操作列 -->
<script type="text/html" id="role-table-bar">
    <div class="opBtnGroup">
        <input class="layui-hide" value="confirm" id="opTopicValue">
        <a class="layui-btn layui-btn-primary layui-btn-xs" id="opTopic" lay-event="confirm">确认</a>
    </div>
</script>

<script type="text/html" id="paperNameTpl">
    <a href="javascript:showTopicDetail({{ d.paperId }})" class="layui-table-link" target="_blank">{{ d.paperName }}</a>
</script>


<!-- 表单弹窗 -->
<script type="text/html" id="topic-model">
    <form id="topic-form" lay-filter="topic-form" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-form-mid layui-word-aux">
                <label>{{title}}</label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-form-mid layui-word-aux">
                {{content}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出题人</label>
            <div class="layui-form-mid layui-word-aux">
                {{teacherName}}
            </div>
        </div>

        <div class="layui-form-item model-form-footer">
            <button class="layui-btn" lay-filter="topic-form-submit" lay-submit>取消</button>
        </div>
    </form>
</script>


<script>

    function showTopicDetail(id){
        layer.open({
            type: 1,
            title:'详情',
            area: '450px',
            offset: '120px',
            content: $('#topic-model').html(),
            success: function () {
                // $('#topic-form')[0].reset();
                // $('#topic-form').attr('method', 'GET');
                //if (data) {
                //   $('#topic-form').vm(data)
                // form.val('topic-form', data);
                // $('#topic-form').attr('method', 'GET');

                //}
            }
        });
    };



    layui.use(['table', 'form','common', 'auth'], function(){
        var table = layui.table;
        var form = layui.form;
        var common = layui.common;
        var auth = layui.auth;

        table.render({
            elem: '#select-paper',
            url: common.base_server + 'select_paper.json',
            where: {
                UUID: auth.getUUID()
            },
            cols: [[
                {field:'paperId', width:80, title: '论文ID'}
                ,{field:'paperName', title: '论文标题',templet: '#paperNameTpl'}
                ,{align: 'center', toolbar: '#role-table-bar', title: '操作'}
            ]]
            ,page: true
        });

        // 表单提交事件
        form.on('submit(topic-form-submit)', function (data) {
            layer.closeAll();;
            return false;
        });



        // 工具条点击事件
        table.on('tool(select-paper)', function (obj) {
            var data = obj.data;
            if (obj.event === 'confirm' && $('#opTopic').attr('class').toString().indexOf('layui-btn-disabled') < 0) { //修改
                var confirmValue = $('#opTopicValue').val();
                if(confirmValue === 'confirm'){
                    layer.confirm('确认选择该课题？', {title:''}, function () {
                        //提示层
                        //增加 api
                        $('#opTopicValue').val('cancle');
                        $('#opTopic').text('取消');
                        var child = $("#opTopicValue").parents('table').find('.opBtnGroup');
                        child.each(function(index, item){
                            var childBtnOp = item.childNodes.item(3);
                            if("确认" === childBtnOp.innerHTML){
                                childBtnOp.className = 'layui-btn layui-btn-primary layui-btn-xs layui-btn-disabled';
                            }
                        });
                        //form.render('checkbox');


                        //$('#opTopic').attr('class','');
                        layer.msg('您已选择该课题，等待导师确认');
                    });
                }else if(confirmValue === 'cancle'){
                    layer.confirm('确认取消该课题？', {title:''}, function () {
                        //提示层
                        //增加 api
                        $('#opTopicValue').val('cancle');
                        $('#opTopic').text('确认');
                        layer.msg('您已取消该课题');
                    });
                }


            }
        });
    });
</script>