<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">选题管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a href="#!my-paper">论文管理</a>
          <a><cite>选题管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="toolbar layui-toolbar layui-form">

            <div class="layui-inline">
                <div id="search-batch-class-id">
                </div>
            </div>
            <input id="topic-search-value" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="topic-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>
        <table class="layui-table" id="topic-table" lay-filter="topic-table"></table>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="topic-table-bar">
    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">查看</a>
    {{#  if(d.state == '' && d.type == 0) { }}
    <a class="layui-btn layui-btn-xs" lay-event="pass">选择</a>
    {{#  } else if((d.state == 0 || d.state == 2) && d.type == 1) { }}
    <a class="layui-btn layui-btn-xs" lay-event="unpass">取消选择</a>
    {{#  } else if(d.state == 1) { }}

    {{#  } }}
    <!--0：未审核；1:通过；2：未通过;3:已分发-->
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="topic-model">
    <form id="topic-form" lay-filter="topic-form" class="layui-form model-form">
        <input name="stqID" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-form-mid layui-word-aux">
                <label>{{title}}</label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-form-mid layui-word-aux">
                <pre>{{content}}</pre>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出题人</label>
            <div class="layui-form-mid layui-word-aux">
                {{userName}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">更新时间</label>
            <div class="layui-form-mid layui-word-aux">
                {{upTime}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">操作</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="1" title="选择" checked>
                <input type="radio" name="type" value="2" title="取消选择">
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
            <button class="layui-btn" lay-filter="topic-form-submit" lay-submit>保存</button>
        </div>
    </form>
</script>

<script type="text/html" id="topic-detail-model">
    <div id="topic-detail-form" class="layui-form model-form">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-form-mid layui-word-aux">
                <label>{{d.title}}</label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-form-mid layui-word-aux">
                <pre>{{d.content}}</pre>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">更新时间</label>
            <div class="layui-form-mid layui-word-aux">
                {{d.upTime}}
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">关闭</button>
        </div>
    </div>
</script>

<script type="text/html" id="stateTpl">
    {{#  if(d.state == '' && d.type == 0) { }}
    未选择
    {{#  } else if(d.state == 0) { }}
    未审核
    {{#  } else if(d.state == 1) { }}
    通过
    {{#  } else if(d.state == 2) { }}
    未通过
    {{#  } else if(d.state == 3) { }}
    已分发
    {{#  } }}
</script>

<script>
    layui.use(['api', 'form', 'table', 'util', 'common', 'auth', 'admin', 'formSelects', 'upload', 'laytpl', 'selectN'], function () {
        var form = layui.form;
        var table = layui.table;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var api = layui.api;
        var formSelects = layui.formSelects;
        var upload = layui.upload;
        var laytpl = layui.laytpl;
        var selectN = layui.selectN;


        initData();

        //页面加载时初始化
        function initData() {

            var user = auth.getUser();

            // 渲染表格
            table.render({
                elem: '#topic-table',
                url: common.base_server + 'setQuest/getQuestListFB',
                method: 'POST',
                where: {
                    UUID: auth.getUUID(),
                    classID: user.classID
                },
                request: common.tableRequest,
                response: common.tableResponse,
                parseData: common.tableParseData,
                height: 'full-280',
                page: true,
                cols: [[
                    {type:'numbers'},
                    {field: 'title', title: '标题', templet: '<div><a href="javascript:;" class="layui-table-link" lay-event="detail">{{d.title}}</a></div>'},
                    {field: 'userName', title: '出题人'},
                    // {field: 'upTime', title: '提交时间'},
                    {field: 'state', title: '选择状态', templet: '#stateTpl'},
                    // {field: 'msg', title: '回复'},
                    {align: 'center', toolbar: '#topic-table-bar', title: '操作', width: 180}
                ]]
            });

        }

        // 表单提交事件
        form.on('submit(topic-form-submit)', function (data) {
            layer.load(2);
            var url = '';
            if (data.field.stqID) {
                url = 'selQuest/adSelQuest';
            }
            api.req(url, data.field, function (data) {
                layer.closeAll('loading');
                if (data.Status === 2000) {
                    layer.msg(data.Data.Result, {icon: 1});
                    table.reload('topic-table');
                    layer.closeAll('page');
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
            return false;
        });

        // 工具条点击事件
        table.on('tool(topic-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') { //查看
                if (data.state === 0 || data.state === 2) {
                    showEditModel(data)
                } else {
                    showDetailModel(data);
                }
            } else if (obj.event === 'pass') { //选择
                doPass(data.stqID, 1);
            } else if (obj.event === 'unpass') { //取消选择
                doPass(data.stqID, 2);
            }
        });

        // 搜索按钮点击事件
        $('#topic-btn-search').click(function () {
            var keyword = $('#topic-edit-search').val();
            table.reload('topic-table', {where: {keyword: keyword}});
        });

        // 添加按钮点击事件
        $('#topic-btn-add').click(function () {
            showEditModel();
        });

        // 显示编辑弹窗
        var showEditModel = function (data) {
            layer.open({
                type: 1,
                title: '审核选题',
                area: '450px',
                offset: '120px',
                content: $('#topic-model').html(),
                success: function () {
                    $('#topic-form')[0].reset();
                    $('#topic-form').attr('method', 'GET');
                    if (data) {
                        $('#topic-form').vm(data)
                        form.val('topic-form', data);
                        $('#topic-form').attr('method', 'GET');

                    }
                }
            });
        };


        // 显示编辑弹窗
        var showDetailModel = function (data) {
            laytpl($('#topic-detail-model').html()).render(data, function (html) {
                layer.open({
                    type: 1,
                    title: '查看选题',
                    area: '450px',
                    offset: '120px',
                    content: html
                });
            })
        };

        //选择操作
        function doPass(id, type) {
            var t = type === 1 ? '选择' : '取消选择';
            layer.confirm('确定[' + t + ']吗？', {title: '提示'}, function (i) {
                layer.close(i);
                layer.load(2);
                //请修改审核接口
                api.req('selQuest/adSelQuest', {stqID: id, type: type}, function (data) {
                    layer.closeAll('loading');
                    if (data.Status === 2000) {
                        layer.msg(data.Data.Result, {icon: 1});
                        table.reload('topic-table');
                        layer.closeAll('page');
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                });
            });
        }

    });
</script>