<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">批次管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>批次管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <input id="batch-search-value" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="batch-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button id="batch-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
        </div>

        <table class="layui-table" id="batch-table" lay-filter="batch-table"></table>
    </div>
</div>


<!-- 表格操作列 -->
<script type="text/html" id="batch-table-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="batch-model">
    <form id="batch-form" lay-filter="batch-form" class="layui-form model-form">
        <input name="batchID" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">批次</label>
            <div class="layui-input-block">
                <input name="batchName" placeholder="请输入批次" type="text" class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
            <button class="layui-btn" lay-filter="batch-form-submit" lay-submit>保存</button>
        </div>
    </form>
</script>

<script>
    layui.use(['api', 'form', 'table', 'util', 'common', 'auth', 'admin'], function () {
        var form = layui.form;
        var table = layui.table;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var api = layui.api;

        // 渲染表格
        table.render({
            elem: '#batch-table',
            url: common.base_server + 'batchInfo/getBatchList',
            method: 'POST',
            where: {
                UUID: auth.getUUID()
            },
            request: common.tableRequest,
            response: common.tableResponse,
            parseData: common.tableParseData,
            height: 'full-250',
            page: true,
            cols: [[
                {type: 'numbers'},
                // {field: 'batchID', title: 'batchID', width: 120},
                {field: 'batchName', title: '批次'},
                {align: 'center', toolbar: '#batch-table-bar', title: '操作', width: 120}
            ]]
        });

        // 添加按钮点击事件
        $('#batch-btn-add').click(function () {
            showEditModel();
        });

        // 表单提交事件
        form.on('submit(batch-form-submit)', function (data) {
            layer.load(2);
            var url = '';
            if (data.field.batchID) {
                url = 'batchInfo/updBatchInfo';
            } else {
                url = 'batchInfo/adBatchInfo';
            }
            api.req(url, data.field, function (data) {
                layer.closeAll('loading');
                if (data.Status == 2000) {
                    layer.msg(data.Data.Result, {icon: 1});
                    table.reload('batch-table');
                    layer.closeAll('page');
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
            return false;
        });

        // 工具条点击事件
        table.on('tool(batch-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { //修改
                showEditModel(data);
            } else if (obj.event === 'del') { //删除
                doDelete(obj);
            }
        });

        // 搜索按钮点击事件
        $('#batch-btn-search').click(function () {
            var keyword = $('#batch-search-value').val();
            table.reload('batch-table', {where: {keyword: keyword}});
        });

        // 显示编辑弹窗
        var showEditModel = function (data) {
            layer.open({
                type: 1,
                title: data ? '修改批次' : '添加批次',
                area: '450px',
                offset: '120px',
                content: $('#batch-model').html(),
                success: function () {
                    $('#batch-form')[0].reset();
                    $('#batch-form').attr('method', 'GET');
                    if (data) {
                        form.val('batch-form', data);
                        $('#batch-form').attr('method', 'GET');
                    }
                }
            });
        };

        // 删除
        var doDelete = function (obj) {
            layer.confirm('确定要删除吗？', function (i) {
                layer.close(i);
                layer.load(2);

                api.req('batchInfo/delBatchInfo', {'batchID': obj.data.batchID}, function (data) {
                    layer.closeAll('loading');
                    if (data.Status == 2000) {
                        layer.msg(data.Data.Result, {icon: 1});
                        table.reload('batch-table');
                        layer.closeAll('page');
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                });
            });
        };
    });
</script>