<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">开题分组</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>开题分组</cite></a>
        </span>
    </div>
    <div class="layui-card-body">

        <div class="layui-row" id="data-list">
            <form class="layui-form" lay-filter="group-form" id="group-form">
                <div class="layui-col-md12">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <div id="search-batch-class-id">
                            </div>
                        </div>
                        小组名称：
                        <div class="layui-inline">
                            <div class="layui-inline">
                                <input type="text" name="groupName" id="groupName" placeholder="输入名称" autocomplete="off" class="layui-input"  lay-verify="required" required>
                                <input type="hidden" name="groupID" id="groupID">
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="draggable">
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">老师列表</div>
                            <div class="layui-card-body ">
                                <ul p-each="Data" id="teachers">
                                    <li data-type="teacher"><input type="hidden" name="id" p-bind="value:{{UUID}}"><span data-type="prefix"></span><span>{{userName}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">组成员</div>
                            <div class="layui-card-body draggable">
                                <ul p-each="Data" id="users">
                                    <li><input type="hidden" name="id" p-bind="value:{{UUID}}"><span>{{userName}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">学生列表</div>
                            <div class="layui-card-body draggable">
                                <ul p-each="Data" id="students">
                                    <li data-type="student"><input type="hidden" name="id" p-bind="value:{{UUID}}"><span data-type="prefix"></span><span>{{userName}}</span><span>&nbsp;&nbsp;( {{userNo}} )</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="layui-col-md4 layui-col-md-offset4">
                    <div class="layui-input-block">
                        <a class="layui-btn layui-btn-primary" type="reset" id="group-form-reset">清空</a>
                        <button class="layui-btn" lay-submit lay-filter="group-form-submit">保存分组</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/assets/libs/sortable/Sortable.min.js"/>
<script src="/assets/libs/sortable/jquery.binding.js"/>
<script type="text/javascript">

    layui.use(['api', 'form', 'table', 'util', 'common', 'auth', 'admin', 'formSelects', 'selectN'], function () {
        var form = layui.form;
        var table = layui.table;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var api = layui.api;
        var formSelects = layui.formSelects;
        var selectN = layui.selectN;

        var o = {Data:[]};


        var teachers = {Data:[]};
        var students = {Data:[]};
        var users = {Data:[]};


        var vmt = $('#teachers').vm(teachers);
        var vms = $('#students').vm(students);
        var vmu = $('#users').vm(users);


        $.ajaxSetup({
            async: false
        })

        var batch_class_select, batch_class_id;

        initData();

        //页面加载时初始化
        function initData() {
            //初始化联级
            getBatchClassData('search-batch-class-id');


            loadData();
        }

        function loadData() {

            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            var param = {
                batchID: batchID,
                classID: classID,
                stage: 1,
            }
            api.req('group/teaList', param, function (data) {
                if (data.Status == 2000) {
                    vmt.set(data);
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
            api.req('group/stuList', param, function (data) {
                if (data.Status == 2000) {
                    vms.set(data);
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
            vmu.set(users)
        }

        var edit_data_key = 'topic_open_data';
        var editData = layui.data('GroupEditData').topic_open_data;
        if (!$.isEmptyObject(editData)) {
            var v = JSON.parse(editData);

            console.log(v)

            layui.data('GroupEditData', {
                key: edit_data_key, remove: true
            });

            getBatchData('batchId', [v.batchId]);
            getClassData('classId', [v.classId]);
            var tids = new Array();
            var sids = new Array();
            $.each(v.teachers, function (i, vv) {
                tids.push(vv.id);
                users.data.push(vv);
            })
            $.each(v.students, function (i, vv) {
                sids.push(vv.id);
                users.data.push(vv);
            })
            // users.data = v.teachers.concat(v.students);

            $('#id').val(v.id);
            $('#name').val(v.name);
            $('#teacherIds').val(tids);
            $('#studentIds').val(sids);
            vmu.set(users)
        }

        var tsf = 0; //teachers: 1; students: 2
        $('#teachers').sortable({
            group: {
                name: 'teachers',
                pull: true,
                put: function () {
                    var f = tsf == 1;
                    if (!f) {
                        // layer.msg('学生不能移动到老师列表', {icon: 2});
                    }
                    return f;
                },
            },
            sort: false,
            animation: 150,
            onRemove: function (evt) {
                $(evt.item).find('span[data-type="prefix"]').html('老师：');
            }
        });
        $('#users').sortable({
            group: {
                name: 'users',
                pull: true,
                put: ['teachers', 'students']
            },
            animation: 150,
            onStart: function (evt) {
                var type = $(evt.item).attr('data-type');
                if (type == 'teacher') {
                    tsf = 1;
                } else {
                    tsf = 2;
                }
            },
            onEnd: function (evt) {
                tsf = 0;
            },
            onRemove: function (evt) {
                console.log(evt.clone)
                $(evt.item).find('span[data-type="prefix"]').html('');
            }
        });
        $('#students').sortable({
            group: {
                name: 'students',
                pull: true,
                put: function () {
                    var f = tsf == 2;
                    if (!f) {
                        // layer.msg('老师不能移动到学生列表', {icon: 2});
                    }
                    return f;
                },
            },
            sort: false,
            animation: 150,
            onRemove: function (evt) {
                $(evt.item).find('span[data-type="prefix"]').html('学生：');
            }
        });
        $('#group-form-reset').click(function () {
            $('#group-form')[0].reset();
            initData();
        });

        // 表单提交事件
        form.on('submit(group-form-submit)', function (data) {
            layer.load(2);
            var tids = [];
            var sids = [];
            var UUIDs = [];
            $('#users').find('li').each(function (i, li) {
                var type = $(li).data('type');
                var id = $(li).find('input[name=id]').val();
                if (type === 'teacher') {
                    tids.push(id);
                    UUIDs.push(id);
                }
                if (type === 'student') {
                    sids.push(id);
                    UUIDs.push(id);
                }
            });
            if (tids.length === 0) {
                layer.closeAll('loading');
                layer.msg('请选择老师', {icon: 2});
                return false;
            }
            if (sids.length === 0) {
                layer.closeAll('loading');
                layer.msg('请选择学生', {icon: 2});
                return false;
            }
            if (data.field.id) {
                delete data.field.id;
            }
            data.field.UUIDs = UUIDs.join(',');


            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];

            data.field.batchID = batchID;
            data.field.classID = classID;
            data.field.stage = 1;

            var url = '';
            if (data.field.groupID) {
                url = 'group/editGroup';
            } else {
                url = 'group/adGroup';
            }
            api.req(url, data.field, function (data) {
                layer.closeAll('loading');
                if (data.Status == 2000) {
                    layer.msg(data.Data.Result, {icon: 1});
                    $('#group-form-reset').click();
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });

            return false;
        });




        //毕业批次与班级下拉联级
        function getBatchClassData(selectId, classId) {
            api.req('batchInfo/BatchLD', {}, function (data) {
                if (data.Status == 2000) {

                    var opvs = [];
                    var selected = [];

                    var rs = data.Data;
                    for (var i = 0; i < rs.length; i++) {
                        if (i == 0 && !classId) {
                            selected.push(rs[i].batchID);
                        }
                        var trs = rs[i].classList;
                        if (trs) {
                            var topvs = new Array();
                            for (var j = 0; j < trs.length; j++) {
                                if ((i == 0 && j == 0) && !classId) {
                                    selected.push(trs[j].classID);
                                } else if (classId && classId == trs[j].classID) {
                                    selected.push(rs[i].batchID);
                                    selected.push(trs[j].classID);
                                }
                                topvs.push({name: trs[j].className, id: trs[j].classID})
                            }
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID, children: topvs});
                        } else {
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID});
                        }
                    }
                    if (selectId == 'search-batch-class-id')  {
                        batch_class_select = selectN(getSelectNParam(selectId, opvs, selected))
                    } else {
                        batch_class_id = selectN(getSelectNParam(selectId, opvs, selected))
                    }

                }
            });
        }
        function getIdArr() {
            var idArr = batch_class_select.values;
            if (idArr && Array.isArray(idArr) && idArr.length === 2 && idArr[0] > 0 && idArr[1] > 0) {
                return idArr;
            } else {
                layer.msg('请选择毕业批次和班级', {icon: 2});
                return false
            }
        }
        function getSelectNParam(id, opvs, selected) {
            return {
                //元素容器【必填】
                elem: '#' + id,
                search:[false,true],
                //候选数据【必填】
                data: opvs,
                //为真只取最后一个值
                // last:true,
                //默认值
                selected: selected,
                //空值项提示，可设置为数组['请选择省','请选择市','请选择县']
                tips: ['请选择毕业批次', '请选择班级'],
                //数据的键名
                field:{idName:'id',titleName:'name',childName:'children'},
                //添加验证
                verify:'required'

            };
        }
    });
</script>