<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">答辩分组</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>答辩分组</cite></a>
        </span>
    </div>
    <div class="layui-card-body">

        <div class="layui-row" id="data-list">
            <form class="layui-form" lay-filter="group-form" id="group-form">
                <div class="layui-col-md12">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <div id="search-batch-class-id">
                            </div>
                        </div>
                        <a href="javascript:;" id="group-btn-search" class="layui-btn icon-btn">查询</a>
                    </div>
                </div>
                <hr/>
                <div class="draggable-full">
                    <div class="layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-header">老师列表</div>
                            <div class="layui-card-body draggable">
                                <ul id="teachers" class="user-list">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div class="layui-col-md6">
                            <div class="layui-card form-user-group">
                                <div class="layui-card-header"><input type="text" name="groupName" placeholder="输入名称" value="小组1" autocomplete="off" class="layui-input"  lay-verify="required" required><input type="hidden" name="groupID"></div>
                                <div class="layui-card-body draggable">
                                    <div class="user-group-selected">
                                        <div class="layui-col-md6 selected teacher">老师:<span class="count"></span></div>
                                        <div class="layui-col-md6 selected student">学生:<span class="count"></span></div>
                                    </div>
                                    <ul id="users-1" class="user-group">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-card form-user-group">
                                <div class="layui-card-header"><input type="text" name="groupName" placeholder="输入名称" value="小组2" autocomplete="off" class="layui-input"  lay-verify="required" required><input type="hidden" name="groupID"></div>
                                <div class="layui-card-body draggable">
                                    <div class="user-group-selected">
                                        <div class="layui-col-md6 selected teacher">老师:<span class="count"></span></div>
                                        <div class="layui-col-md6 selected student">学生:<span class="count"></span></div>
                                    </div>
                                    <ul id="users-2" class="user-group">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-card form-user-group">
                                <div class="layui-card-header"><input type="text" name="groupName" placeholder="输入名称" value="小组3" autocomplete="off" class="layui-input"  lay-verify="required" required><input type="hidden" name="groupID"></div>
                                <div class="layui-card-body draggable">
                                    <div class="user-group-selected">
                                        <div class="layui-col-md6 selected teacher">老师:<span class="count"></span></div>
                                        <div class="layui-col-md6 selected student">学生:<span class="count"></span></div>
                                    </div>
                                    <ul id="users-3" class="user-group">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <div class="layui-card form-user-group">
                                <div class="layui-card-header"><input type="text" name="groupName" placeholder="输入名称" value="小组4" autocomplete="off" class="layui-input"  lay-verify="required" required><input type="hidden" name="groupID"></div>
                                <div class="layui-card-body draggable">
                                    <div class="user-group-selected">
                                        <div class="layui-col-md6 selected teacher">老师:<span class="count"></span></div>
                                        <div class="layui-col-md6 selected student">学生:<span class="count"></span></div>
                                    </div>
                                    <ul id="users-4" class="user-group">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-header">学生列表</div>
                            <div class="layui-card-body draggable">
                                <ul id="students" class="user-list">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="layui-col-md4 layui-col-md-offset4">
                    <div class="layui-input-block">
                        <a class="layui-btn layui-btn-primary" type="reset" id="group-form-reset">清空</a>
                        <button class="layui-btn" lay-submit lay-filter="group-form-submit">保存分组</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/html" id="userListTpl0">
    {{#  layui.each(d.Data, function(index, item){ }}
    <li data-type="{{d.type}}" >
        <input type="hidden" name="id" value="{{item.userid}}">
        <span data-type="prefix"></span>
        <span>{{ item.userName }}</span>
        {{#  if(d.type === 'student'){ }}
        <span>({{ item.userNo || '' }})</span>
        {{#  } }}
    </li>
    {{#  }); }}
</script>

<script type="text/html" id="userListTpl1">
    {{#  layui.each(d.Data, function(index, item){ }}
    <li data-type="teacher" data-id="{{item.userid}}">
        <input type="hidden" name="id" value="{{item.userid}}">
        <span data-type="prefix"></span>
        <span>{{ item.userName }}</span>
    </li>

        {{#  layui.each(item.stuList, function(index, suni){ }}
        <li data-type="student" data-pid="{{item.userid}}">
            <input type="hidden" name="id" value="{{suni.userid}}">
            <span data-type="prefix"></span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;{{ suni.userName }}</span>
            <span>({{ suni.userNo || '' }})</span>
        </li>
        {{#  }); }}

    {{#  }); }}
</script>
<script type="text/html" id="userListTpl2">
    {{#  layui.each(d.userList, function(index, item){ }}
    {{#  if(item.userType === 1){ }}
    <li data-type="student">
        <input type="hidden" name="id" value="{{item.userid}}">
        <span data-type="prefix">学生：</span>
        <span>{{ item.userName }}</span>
        <span>({{ item.userNo || '' }})</span>
    </li>
    {{#  } }}
    {{#  if(item.userType === 2){ }}
    <li data-type="teacher">
        <input type="hidden" name="id" value="{{item.userid}}">
        <span data-type="prefix">老师：</span>
        <span>{{ item.userName }}</span>
    </li>
    </li>
    {{#  } }}
    {{#  }); }}
</script>

<script src="/assets/libs/sortable/Sortable.min.js"/>
<script src="/assets/libs/sortable/jquery.binding.js"/>
<script type="text/javascript">

    layui.use(['api', 'form', 'table', 'util', 'common', 'auth', 'admin', 'formSelects', 'selectN', 'laytpl'], function () {
        var form = layui.form;
        var table = layui.table;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var api = layui.api;
        var formSelects = layui.formSelects;
        var selectN = layui.selectN;
        var laytpl = layui.laytpl;

        var stage = 3;

        // 获取编辑数据
        var edit_data_key = 'topic_open_data';
        var editData = layui.data('GroupEditData').topic_open_data;
        var editIdArr = [];

        //下拉框选项
        var batch_class_select, batch_class_id;

        //模版数值
        var htmlTpl0Str = $('#userListTpl0').html();
        var htmlTpl1Str = $('#userListTpl1').html();
        var htmlTpl2Str = $('#userListTpl2').html();

        //移动列表
        var $teachers = $('#teachers');
        var $students = $('#students');
        // var $users = $('#users');
        var $users = $('.user-group');

        //编辑数据加载
        var ef = !$.isEmptyObject(editData);
        if (ef) {
            var param = JSON.parse(editData);

            layui.data('GroupEditData', {
                key: edit_data_key, remove: true
            });

            editIdArr.push(param.batchID);
            editIdArr.push(param.classID);
            fetchData(param)
        }

        initData();

        //页面加载时初始化
        function initData() {
            function initHeight() {
                var h = $(window).height() - 370;
                $('.draggable-full .draggable ul.user-list').height(h);
                $('.draggable-full .draggable ul.user-group').height(h/2 - 56);
            }

            initHeight();
            //初始化联级
            getBatchClassData('search-batch-class-id', loadData, editIdArr);

            // loadData();
        }

        // 加载老师、学生列表
        function loadData() {

            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            var param = {
                batchID: batchID,
                classID: classID,
                // batchID: 1,
                // classID: 1,
                stage: stage,
            }

            api.req('group/teaList', param, function (data) {
                if (data.Status === 2000) {
                    data.type = 'teacher';
                    laytpl(htmlTpl0Str).render(data, function(html){
                        $teachers.html(html);
                    });
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                    $teachers.html('');
                }
            });
            api.req('group/stuList2', param, function (data) {
                if (data.Status === 2000) {
                    data.type = 'student';
                    laytpl(htmlTpl1Str).render(data, function(html){
                        $students.html(html);
                    });
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                    $students.html('');
                }
            });

            fetchData(param)
        }

        function fetchData(param) {
            param.stage = stage
            api.req('group/editGroupInfo2', param, function (data) {
                if (data.Status === 2000) {
                    $(data.Data).each(function(k, gpData){
                        $users.each(function (i, group) {
                            if (i === k) {
                                $this = $(this);

                                var gi = $(group).parents("div.layui-card.form-user-group").find('input[name="groupID"]').val(gpData.groupID)
                                var gn = $(group).parents("div.layui-card.form-user-group").find('input[name="groupName"]').val(gpData.groupName)
                                var tn = $(group).parents("div.draggable").find('.user-group-selected .selected.teacher .count').html(gpData.teaNum)
                                var sn = $(group).parents("div.draggable").find('.user-group-selected .selected.student .count').html(gpData.stuNum)

                                laytpl(htmlTpl2Str).render(gpData, function(html){
                                    $this.html(html);
                                });
                            }
                        });
                    });
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
        }

        // 移动老师和学生
        var tsf = 0; //teachers: 1; students: 2
        $teachers.sortable({
            group: {
                name: 'teachers',
                pull: true,
                put: function () {
                    var f = tsf === 1;
                    if (!f) {
                        // layer.msg('学生不能移动到老师列表', {icon: 2});
                    }
                    return f;
                },
            },
            sort: false,
            animation: 150,
            onRemove: function (evt) {
                $(evt.item).find('span[data-type="prefix"]').html('老师：');

                var $to = $(evt.to);

                var tn = $to.find('li[data-type="teacher"]').length;
                $to.parents("div.draggable").find('.user-group-selected .selected.teacher .count').html(tn);
            }
        });
        $users.sortable({
            group: {
                name: 'users',
                pull: true,
                put: ['teachers', 'students', 'users']
            },
            animation: 150,
            onStart: function (evt) {
                var type = $(evt.item).attr('data-type');
                if (type === 'teacher') {
                    tsf = 1;
                } else {
                    tsf = 2;
                }
            },
            onEnd: function (evt) {
                tsf = 0;
            },
            onRemove: function (evt) {
                $(evt.item).find('span[data-type="prefix"]').html('');


                var $from = $(evt.from);

                var tn = $from.find('li[data-type="teacher"]').length;
                var sn = $from.find('li[data-type="student"]').length;
                $from.parents("div.draggable").find('.user-group-selected .selected.teacher .count').html(tn);
                $from.parents("div.draggable").find('.user-group-selected .selected.student .count').html(sn);
            }
        });
        $students.sortable({
            group: {
                name: 'students',
                pull: true,
                put: function () {
                    var f = tsf === 2;
                    if (!f) {
                        // layer.msg('老师不能移动到学生列表', {icon: 2});
                    }
                    return f;
                },
            },
            sort: false,
            animation: 150,
            onRemove: function (evt) {

                var $to = $(evt.to);

                var sn = $to.find('li[data-type="student"]').length;

                var type = $(evt.item).data('type');
                var id = $(evt.item).data('id');
                if (type === 'teacher') {
                    var sunli = $(evt.from).find('li[data-pid="' + id + '"]');
                    sunli.find('span[data-type="prefix"]').html('学生：');

                    sn = sn + sunli.length;
                    // evt.item = sunli
                    $(evt.item).replaceWith(sunli);
                    // $(evt.item).find('span[data-type="prefix"]').html('老师：');
                } else {
                    $(evt.item).find('span[data-type="prefix"]').html('学生：');
                }
                var tn = $to.find('li[data-type="teacher"]').length;

                $to.parents("div.draggable").find('.user-group-selected .selected.teacher .count').html(tn);
                $to.parents("div.draggable").find('.user-group-selected .selected.student .count').html(sn);
            }
        });
        $('#group-form-reset').click(function () {
            $('#group-form')[0].reset();
            initData();
            $users.html('');
        });

        // 搜索按钮点击事件
        $('#group-btn-search').click(function () {
            $users.html('');
            loadData()
        });

        // 表单提交事件
        form.on('submit(group-form-submit)', function (data) {
            layer.load(2);

            var s = [];
            $users.each(function (i, group) {
                var g = [];
                var gi = $(group).parents("div.layui-card.form-user-group").find('input[name="groupID"]').val()
                var gn = $(group).parents("div.layui-card.form-user-group").find('input[name="groupName"]').val()
                var tn = $(group).parents("div.draggable").find('.user-group-selected .selected.teacher .count').html()
                var sn = $(group).parents("div.draggable").find('.user-group-selected .selected.student .count').html()

                var ids = []
                $(group).find('li').each(function (i, li) {
                    // var type = $(li).data('type');
                    var id = $(li).find('input[name=id]').val();
                    ids.push(id);
                })
                if (ids.length > 0) {

                    if (ef) {
                        g.push(gi);
                    }
                    g.push(gn);
                    g.push(tn);
                    g.push(sn);
                    g.push(ids.join(','))
                    s.push(g.join(';'))
                }
            });
            //console.log(s.join('|'))


            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];

            data.field.batchID = batchID;
            data.field.classID = classID;
            data.field.stage = stage;
            data.field.groupJsonStr = s.join('|');

            delete data.field.id
            delete data.field.groupName
            delete data.field.groupID

            var url = '';
            if (ef) {
                url = 'group/editGroup2';
            } else {
                url = 'group/adGroup2';
            }
            api.req(url, data.field, function (data) {
                layer.closeAll('loading');
                if (data.Status === 2000) {
                    layer.msg(data.Data.Result, {icon: 1});
                    // $('#group-form-reset').click();
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });

            return false;
        });


        //年级与专业下拉联级
        function getBatchClassData(selectId, callback, selected) {
            api.req('batchInfo/BatchLD', {}, function (data) {
                if (data.Status === 2000) {
                    var opvs = [];
                    // var selected = [];

                    var rs = data.Data;
                    for (var i = 0; i < rs.length; i++) {
                        if (i === 0 && selected.length === 0) {
                            selected.push(rs[i].batchID);
                        }
                        var trs = rs[i].classList;
                        if (trs) {
                            var topvs = [];
                            for (var j = 0; j < trs.length; j++) {
                                if ((i === 0 && j === 0) && selected.length === 1) {
                                    selected.push(trs[j].classID);
                                }
                                topvs.push({name: trs[j].className, id: trs[j].classID})
                            }
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID, children: topvs});
                        } else {
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID});
                        }
                    }
                    if (selectId === 'search-batch-class-id')  {
                        batch_class_select = selectN(getSelectNParam(selectId, opvs, selected))
                    } else {
                        batch_class_id = selectN(getSelectNParam(selectId, opvs, selected))
                    }
                    if (typeof callback === "function") {
                        callback();
                    }
                }
            });
        }
        function getIdArr() {
            var idArr = batch_class_select.values;
            if (idArr && Array.isArray(idArr) && idArr.length === 2 && idArr[0] > 0 && idArr[1] > 0) {
                return idArr;
            } else {
                layer.msg('请选择年级和专业', {icon: 2});
                return false
            }
        }
        function getSelectNParam(id, opvs, selected) {
            return {
                //元素容器【必填】
                elem: '#' + id,
                search:[false,true],
                //候选数据【必填】
                data: opvs,
                //为真只取最后一个值
                // last:true,
                //默认值
                selected: selected,
                //空值项提示，可设置为数组['请选择省','请选择市','请选择县']
                tips: ['请选择年级', '请选择专业'],
                showTips: false,
                //数据的键名
                field:{idName:'id',titleName:'name',childName:'children'},
                //添加验证
                verify:'required'

            };
        }
    });
</script>
