<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">答辩分组</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>答辩分组</cite></a>
        </span>
    </div>
    <div class="layui-card-body">

        <div class="layui-row" id="data-list">
            <form class="layui-form" lay-filter="group-form" id="group-form">
                <div class="layui-col-md12">
                    <div class="layui-form-item">
                        批次：
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="batchId" xm-select="batchId" xm-select-radio="" lay-verify="required">
                                </select>
                            </div>
                        </div>
                        班级：
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <select name="classId" xm-select="classId" xm-select-radio="" lay-verify="required">
                                </select>
                            </div>
                        </div>
                        小组名称：
                        <div class="layui-inline">
                            <div class="layui-inline">
                                <input type="text" name="name" id="name" placeholder="输入名称" autocomplete="off" class="layui-input" required  lay-verify="required">
                                <input type="hidden" name="id" id="id">
                                <input type="hidden" name="teacherIds" id="teacherIds">
                                <input type="hidden" name="studentIds" id="studentIds">
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="draggable">
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">老师列表</div>
                            <div class="layui-card-body ">
                                <ul p-each="data" id="teachers">
                                    <li data-type="teacher"><input type="hidden" name="id" p-bind="value:{{id}}"><span>{{realName}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">组成员</div>
                            <div class="layui-card-body draggable">

                                <ul p-each="data" id="users">
                                    <li><input type="hidden" name="id" p-bind="value:{{id}}"><span>{{realName}}</span></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">学生列表</div>
                            <div class="layui-card-body draggable">
                                <ul p-each="data" id="students">
                                    <li data-type="student"><input type="hidden" name="id" p-bind="value:{{id}}"><span>{{realName}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="layui-col-md4 layui-col-md-offset4">
                    <div class="layui-input-block">
                        <a class="layui-btn layui-btn-primary" type="reset" id="group-form-reset">清空</a>
                        <button class="layui-btn" lay-submit lay-filter="group-form-submit">保存分组</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/assets/libs/sortable/Sortable.min.js"/>
<script src="/assets/libs/sortable/jquery.binding.js"/>
<script type="text/javascript">

    layui.use(['api', 'form', 'table', 'util', 'common', 'auth', 'admin', 'formSelects'], function () {
        var form = layui.form;
        var table = layui.table;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var api = layui.api;
        var formSelects = layui.formSelects;

        var o = {data:[]};


        var teachers = {data:[]};
        var students = {data:[]};
        var users = {data:[]};


        var vmt = $('#teachers').vm(teachers);
        var vms = $('#students').vm(students);
        var vmu = $('#users').vm(users);
        function loadData() {

            getBatchData('batchId');
            getClassData('classId');

            api.req('teacher_query.json', {}, function (data) {
                if (data.code == 0) {
                    vmt.set(data)
                }
            }, 'GET');
            api.req('student_query.json', {}, function (data) {
                if (data.code == 0) {
                    vms.set(data)
                }
            }, 'GET');
            vmu.set(users)

        }
        loadData();

        var edit_data_key = 'last_reply_data';
        var editData = layui.data('GroupEditData').last_reply_data;
        if (!$.isEmptyObject(editData)) {
            var v = JSON.parse(editData);

            console.log(v)

            layui.data('GroupEditData', {
                key: edit_data_key, remove: true
            });

            getBatchData('batchId', [v.batchId]);
            getClassData('classId', [v.classId]);
            var tids = new Array();
            var sids = new Array();
            $.each(v.teachers, function (i, vv) {
                tids.push(vv.id);
                users.data.push(vv);
            })
            $.each(v.students, function (i, vv) {
                sids.push(vv.id);
                users.data.push(vv);
            })
            // users.data = v.teachers.concat(v.students);

            $('#id').val(v.id);
            $('#name').val(v.name);
            $('#teacherIds').val(tids);
            $('#studentIds').val(sids);
            vmu.set(users)
        }

        var tsf = 0; //teachers: 1; students: 2
        $('#teachers').sortable({
            group: {
                name: 'teachers',
                pull: true,
                put: function () {
                    var f = tsf == 1;
                    if (!f) {
                        // layer.msg('学生不能移动到老师列表', {icon: 2});
                    }
                    return f;
                },
            },
            animation: 150
        });
        $('#users').sortable({
            group: {
                name: 'users',
                pull: true,
                put: ['teachers', 'students']
            },
            animation: 150,
            onStart: function (evt) {
                var type = $(evt.item).attr('data-type');
                if (type == 'teacher') {
                    tsf = 1;
                } else {
                    tsf = 2;
                }
            },
            onEnd: function (evt) {
                tsf = 0;
            }
        });
        $('#students').sortable({
            group: {
                name: 'students',
                pull: true,
                put: function () {
                    var f = tsf == 2;
                    if (!f) {
                        // layer.msg('老师不能移动到学生列表', {icon: 2});
                    }
                    return f;
                },
            },
            animation: 150
        });
        $('#group-form-reset').click(function () {
            loadData();
            $('#group-form')[0].reset();
        });

        // 表单提交事件
        form.on('submit(group-form-submit)', function (data) {
            layer.load(2);
            var tids = new Array();
            var sids = new Array();
            $('#users').find('li').each(function (i, li) {
                var type = $(li).data('type');
                var id = $(li).find('input[name=id]').val();
                if (type == 'teacher') {
                    tids.push(id)
                }
                if (type == 'student') {
                    sids.push(id)
                }
            })
            // console.log(tids.join(','), sids.join(','));
            data.field.teacherIds = tids.join(',');
            data.field.studentIds = sids.join(',');
            // console.log(data.field);

            api.req('user_state.json', data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                    $('#group-form-reset').click();
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }, 'get');

            return false;
        });



        //加载批次下拉框中的值
        function getBatchData(selectId, vals) {

            formSelects.btns(selectId, [], '');
            api.req('batch_query.json', {}, function (data) {
                if (0 == data.code) {
                    // 渲染多选下拉框
                    var opvs = new Array();
                    for (var i = 0; i < data.data.length; i++) {
                        opvs.push({name: data.data[i].name, value: data.data[i].id});
                    }
                    formSelects.data(selectId, 'local', {arr: opvs});

                    if (vals) {
                        formSelects.value(selectId, vals);
                    }
                }
            }, 'GET');
        }
        //加载班级下拉框中的值
        function getClassData(selectId, vals) {

            formSelects.btns(selectId, [], '');
            formSelects.config(selectId, {
                placeholder: '请选择班级'
            })
            api.req('class_query.json', {}, function (data) {
                if (0 == data.code) {
                    // 渲染多选下拉框
                    var opvs = new Array();
                    for (var i = 0; i < data.data.length; i++) {
                        opvs.push({name: data.data[i].name, value: data.data[i].id});
                    }
                    formSelects.data(selectId, 'local', {arr: opvs});

                    if (vals) {
                        formSelects.value(selectId, vals);
                    }
                }
            }, 'GET');
        }
    });
</script>