<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">开题分组列表</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>开题分组列表</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="toolbar layui-toolbar layui-form">
            <div class="layui-inline">
                <div id="search-batch-class-id">
                </div>
            </div>
            <input id="group-search-value" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="group-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button id="group-btn-edit" class="layui-btn icon-btn layui-btn-warm"><i class="layui-icon">&#xe654;</i>编辑</button>
            <button id="group-btn-del" class="layui-btn icon-btn layui-btn-danger"><i class="layui-icon">&#xe654;</i>删除</button>
            <!--<button id="group-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>-->
        </div>
        <table class="layui-table" id="group-table" lay-filter="group-table"></table>
    </div>
</div>


<script type="text/html" id="teacherNameTpl">
    {{#  layui.each(d.teachers, function(index, item){ }}
    {{#  if(index > 0){ }}
    ，
    {{#  } }}
    {{ item.realName }}
    {{#  }); }}
</script>

<script type="text/html" id="studentNameTpl">
    {{#  layui.each(d.students, function(index, item){ }}
    {{#  if(index > 0){ }}
    ，
    {{#  } }}
    {{ item.realName }}
    {{#  }); }}
</script>

<script>
    layui.use(['api', 'form', 'table', 'util', 'common', 'auth', 'admin', 'formSelects', 'upload', 'selectN'], function () {
        var form = layui.form;
        var table = layui.table;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var api = layui.api;
        var formSelects = layui.formSelects;
        var upload = layui.upload;
        var selectN = layui.selectN;

        var stage = 1;

        var editIdArr = [];

        var batch_class_select, batch_class_id;

        initData();

        //页面加载时初始化
        function initData() {
            //初始化联级
            getBatchClassData('search-batch-class-id', loadData, editIdArr);


        }
        function loadData() {

            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            // 渲染表格
            table.render({
                elem: '#group-table',
                url: common.base_server + 'group/groupInfoList',
                method: 'POST',
                where: {
                    UUID: auth.getUUID(),
                    batchID: batchID,
                    classID: classID,
                    stage: stage
                },
                request: common.tableRequest,
                response: common.tableResponse,
                parseData: common.tableParseData,
                height: 'full-250',
                page: true,
                cols: [[
                    {type:'numbers'},
                    {field: 'groupName', title: '组别', width: 160},
                    {field: 'teaName', title: '负责老师'/*, templet: '#teacherNameTpl'*/, width: 160},
                    {field: 'stuName', title: '学生成员'/*, templet: '#studentNameTpl'*/}
                ]]
            });
        }

        var edit_data_key = 'topic_open_data';

        // 搜索按钮点击事件
        $('#group-btn-search').click(function () {
            var keyword = $('#group-edit-search').val();

            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            table.reload('group-table', {where: {keyword: keyword, batchID: batchID, classID: classID}});
        });
		// 添加按钮点击事件
        $('#group-btn-add').click(function () {
            Q.go('group-topic-open');
        });
        // 修改按钮点击事件
        $('#group-btn-edit').click(function () {
            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            var data = {
                batchID: batchID,
                classID: classID
            }
            layui.data('GroupEditData', {
                key: edit_data_key,
                value: JSON.stringify(data)
            });
            Q.go('group-topic-open');
        });
        // 删除按钮点击事件
        $('#group-btn-del').click(function () {
            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            var data = {
                batchID: batchID,
                classID: classID,
                stage: stage
            }
            doDelete(data);
        });

        // 删除
        var doDelete = function (param) {
            layer.confirm('确定要删除吗？', function (i) {
                layer.close(i);
                layer.load(2);

                api.req('group/delGroup2', param, function (data) {
                    layer.closeAll('loading');
                    if (data.Status === 2000) {
                        layer.msg(data.Data.Result, {icon: 1});
                        table.reload('group-table');
                        layer.closeAll('page');
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                });
            });
        };


        //年级与专业下拉联级
        function getBatchClassData(selectId, callback, selected) {
            api.req('batchInfo/BatchLD', {}, function (data) {
                if (data.Status === 2000) {
                    var opvs = [];
                    // var selected = [];

                    var rs = data.Data;
                    for (var i = 0; i < rs.length; i++) {
                        if (i === 0 && selected.length === 0) {
                            selected.push(rs[i].batchID);
                        }
                        var trs = rs[i].classList;
                        if (trs) {
                            var topvs = [];
                            for (var j = 0; j < trs.length; j++) {
                                if ((i === 0 && j === 0) && selected.length === 1) {
                                    selected.push(trs[j].classID);
                                }
                                topvs.push({name: trs[j].className, id: trs[j].classID})
                            }
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID, children: topvs});
                        } else {
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID});
                        }
                    }
                    if (selectId === 'search-batch-class-id')  {
                        batch_class_select = selectN(getSelectNParam(selectId, opvs, selected))
                    } else {
                        batch_class_id = selectN(getSelectNParam(selectId, opvs, selected))
                    }
                    if (typeof callback === "function") {
                        callback();
                    }
                }
            });
        }
        function getIdArr() {
            var idArr = batch_class_select.values;
            if (idArr && Array.isArray(idArr) && idArr.length === 2 && idArr[0] > 0 && idArr[1] > 0) {
                return idArr;
            } else {
                layer.msg('请选择年级和专业', {icon: 2});
                return false
            }
        }
        function getSelectNParam(id, opvs, selected) {
            return {
                //元素容器【必填】
                elem: '#' + id,
                search:[false,true],
                //候选数据【必填】
                data: opvs,
                //为真只取最后一个值
                // last:true,
                //默认值
                selected: selected,
                //空值项提示，可设置为数组['请选择省','请选择市','请选择县']
                tips: ['请选择年级', '请选择专业'],
                //数据的键名
                field:{idName:'id',titleName:'name',childName:'children'},
                //添加验证
                verify:'required'

            };
        }
    });
</script>