<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">学生管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>学生管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form layui-search-from">
            <div class="layui-inline">
                <div id="search-batch-class-id">
                </div>
            </div>
            <input id="student-search-value" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="student-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>
        <div class="toolbar layui-toolbar">

            <button id="student-btn-add" class="layui-btn icon-btn"><i class="layui-icon layui-icon-add-1"></i>添加</button>
            <button id="student-btn-del" class="layui-btn icon-btn layui-btn-danger"><i class="layui-icon icofont-license"></i>批量删除</button>
            <button id="student-btn-audit" class="layui-btn icon-btn layui-btn-warm"><i class="layui-icon icofont-license"></i>审核</button>
            <div class="layui-btn-container pull-right" style="display: none;">
                <button id="student-btn-add-batch" class="layui-btn icon-btn layui-btn-normal"><i class="layui-icon layui-icon-add-circle"></i>批量添加</button>
                <button id="student-btn-add-import" class="layui-btn icon-btn layui-btn-normal"><i class="layui-icon icofont-document-folder"></i>导入</button>
                <button id="student-btn-download" class="layui-btn icon-btn layui-btn-primary"><i class="layui-icon icofont-download"></i>下载模版</button>
            </div>
        </div>
        <table class="layui-table" id="student-table" lay-filter="student-table"></table>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="student-table-bar">

    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="audit">
        {{#  if(d.state == 0) { }}
        审核
        {{#  } else if(d.state == 1) { }}
        禁用
        {{#  } else { }}
        恢复
        {{#  } }}
    </a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="student-model">
    <form id="student-form" lay-filter="student-form" class="layui-form model-form">
        <input name="UUID" type="hidden"/>
        <input name="state" type="hidden" value="1"/>
        <input name="userType" type="hidden" value="1"/>
        <div class="layui-form-item">
            <label class="layui-form-label">年级/专业</label>
            <div class="layui-input-block">
                <div id="batch-class-id">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input name="loginName" placeholder="请输入用户" type="text" class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input name="loginPwd" placeholder="请输入密码" type="password" class="layui-input" autocomplete="off" maxlength="20"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input name="userName" placeholder="请输入姓名" type="text" class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-block">
                <input name="userNo" placeholder="请输入学号" type="text" class="layui-input" maxlength="40" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input name="userTel" placeholder="请输入电话" type="text" class="layui-input" maxlength="40"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="userSex" value="1" title="男" checked>
                <input type="radio" name="userSex" value="2" title="女">
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
            <button class="layui-btn" lay-filter="student-form-submit" lay-submit>保存</button>
        </div>
    </form>
</script>


<!-- 表单弹窗-批量添加 -->
<script type="text/html" id="batch-student-model">
    <form id="batch-student-form" lay-filter="batch-student-form" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">账号前缀</label>
            <div class="layui-input-block">
                <input name="name" placeholder="请输入前缀" type="text" class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号数量</label>
            <div class="layui-input-block">
                <input name="name" placeholder="请输入数量" type="text" class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
            <button class="layui-btn" lay-filter="batch-form-submit" lay-submit>保存</button>
        </div>
    </form>
</script>

<!-- 表单弹窗-文件导入 -->
<script type="text/html" id="import-student-model">
    <form id="import-student-form" lay-filter="import-student-form" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="import-file">选择文件</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
            <button class="layui-btn" id="import-file-submit">开始上传</button>
        </div>
    </form>
</script>

<script type="text/html" id="userSexTpl">
    {{#  if(d.userSex == 1){ }}
        男
    {{#  } else { }}
        女
    {{#  } }}
</script>
<script type="text/html" id="stateTpl">
    {{#  if(d.state == 0) { }}
    未审核
    {{#  } else if(d.state == 1) { }}
    已审核
    {{#  } else if(d.state == 2) { }}
    禁用
    {{#  } }}
</script>

<script>
    layui.use(['api', 'form', 'table', 'util', 'common', 'auth', 'admin', 'formSelects', 'upload', 'selectN'], function () {
        var form = layui.form;
        var table = layui.table;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var api = layui.api;
        var formSelects = layui.formSelects;
        var upload = layui.upload;
        var selectN = layui.selectN;
        $.ajaxSetup({
            async: false
        })

        var batch_class_select, batch_class_id;

        initData();

        //页面加载时初始化
        function initData() {
            //初始化联级
            getBatchClassData('search-batch-class-id');

            var idArr = batch_class_select.values;
            var batchID, classID;
            if (idArr && idArr.length == 2) {
                batchID = idArr[0]
                classID = idArr[1]
            } else {
                layer.msg('请选择年级和专业', {icon: 2});
            }
            // 渲染表格
            table.render({
                elem: '#student-table',
                url: common.base_server + 'userInfo/getStuList',
                method: 'POST',
                where: {
                    UUID: auth.getUUID(),
                    batchID: batchID,
                    classID: classID
                },
                request: common.tableRequest,
                response: common.tableResponse,
                parseData: common.tableParseData,
                height: 'full-310',
                page: true,
                cols: [[
                    {type: 'checkbox'},
                    // {field: 'batchName', title: '年级', width: 160},
                    // {field: 'className', title: '专业'},
                    {field: 'loginName', title: '用户名'},
                    // {field: 'loginPwd', title: '密码'},
                    {field: 'userName', title: '姓名'},
                    {field: 'userNo', title: '学号'},
                    {field: 'userTel', title: '电话'},
                    {field: 'userSex', title: '性别', templet: '#userSexTpl'},
                    {field: 'state', title: '状态', templet: '#stateTpl'},
                    {align: 'center', toolbar: '#student-table-bar', title: '操作', width: 160}
                ]]
            });
        }

        // 添加按钮点击事件
        $('#student-btn-add').click(function () {
            showEditModel();
        });

        // 批量删除按钮点击事件
        $('#student-btn-del').click(function () {
            var checkStatus = table.checkStatus('student-table');
            if (checkStatus.data.length == 0) {
                layer.msg('请选择需要删除的数据', {icon: 2});
                return;
            }
            var ids = new Array();
            $.each(checkStatus.data, function (i, v) {
                ids.push(v.UUID);
            })
            layer.confirm('确定删除选择的数据？', {icon: 3, title:'提示'}, function(index) {
                doDelete(ids.join(","));
                layer.close(index);
            });
        });
        // 批量添加按钮点击事件
        $('#student-btn-add-batch').click(function () {
            showBatchAddModel();
        });
        // 导入按钮点击事件
        $('#student-btn-add-import').click(function () {
            showImportAddModel();
        });
        // 审核按钮点击事件
        $('#student-btn-audit').click(function () {
            var checkStatus = table.checkStatus('student-table');
            if (checkStatus.data.length == 0) {
                layer.msg('请选择需要审核的数据', {icon: 2});
                return;
            }
            var ids = new Array();
            var f = false;
            $.each(checkStatus.data, function (i, v) {
                if (v.state != 0) {
                    f = true;
                }
                ids.push(v.id);
            });
            if (f) {
                layer.msg('请选择需要审核的数据', {icon: 2});
                return;
            } else {
                layer.confirm('确定审核？', {icon: 3, title:'提示'}, function(index) {
                    doAudit(ids.join(","), 1);
                    layer.close(index);
                });
            }

        });


        // 表单提交事件
        form.on('submit(student-form-submit)', function (data) {
            layer.load(2);
            var url = '';
            if (data.field.UUID) {
                url = 'userInfo/editUserInfo';
            } else {
                url = 'userInfo/editUserInfo';
            }

            var idArr = getIdArr('batch_class_id');
            var batchID = idArr[0];
            var classID = idArr[1];
            data.field.batchID = batchID;
            data.field.classID = classID;
            api.ajax({
                url: common.base_server + url,
                data: data.field,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.Status == 2000) {
                        layer.msg(data.Data.Result, {icon: 1});
                        table.reload('student-table');
                        layer.closeAll('page');
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                }
            });
            return false;
        });

        // 工具条点击事件
        table.on('tool(student-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'audit') { //审核
                var state = data.state == 0 ? 1 : data.state == 1 ? 2 : 1;
                var txt = data.state == 0 ? '审核' : data.state == 1 ? '禁用' : '恢复';
                layer.confirm('确认' + txt + '？', {icon: 3, title:'提示'}, function(index){
                    doAudit(data.UUID, state);
                    layer.close(index);
                });
            } else if (obj.event === 'edit') { //修改
                showEditModel(data);
            } else if (obj.event === 'del') { //删除
                layer.confirm('确认删除？', {icon: 3, title:'提示'}, function(index){
                    doDelete(data.UUID);
                    layer.close(index);
                });
            }
        });

        // 搜索按钮点击事件
        $('#student-btn-search').click(function () {
            var keyword = $('#student-search-value').val();
            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            table.reload('student-table', {where: {keyword: keyword, batchID: batchID, classID: classID}});
        });

        // 显示编辑弹窗
        var showEditModel = function (data) {
            layer.open({
                type: 1,
                title: data ? '修改学生' : '添加学生',
                area: '450px',
                offset: '120px',
                content: $('#student-model').html(),
                success: function () {
                    $('#student-form')[0].reset();
                    $('#student-form').attr('method', 'GET');
                    if (data) {
                        form.val('student-form', data);
                        $('#student-form').attr('method', 'GET');
                        getBatchClassData('batch-class-id', data.classID);
                    } else {
                        $('#student-form').find("input[type=password]").attr('lay-verify', 'required');
                        getBatchClassData('batch-class-id');
                    }
                }
            });
        };

        var showBatchAddModel = function () {
            layer.open({
                type: 1,
                title: '批量生成',
                area: '450px',
                offset: '120px',
                content: $('#batch-student-model').html(),
                success: function () {
                    $('#batch-student-form')[0].reset();
                    $('#batch-student-form').attr('method', 'GET');
                }
            });
        };
        var showImportAddModel = function () {
            layer.open({
                type: 1,
                title: '导入',
                area: '450px',
                offset: '120px',
                content: $('#import-student-model').html(),
                success: function () {
                    $('#import-student-form')[0].reset();
                    $('#import-student-form').attr('method', 'GET');
                    //选完文件后不自动上传
                    upload.render({
                        elem: '#import-file'
                        ,url: '/upload/'
                        ,auto: false
                        //,multiple: true
                        ,accept: 'file'
                        ,acceptMime: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                        ,bindAction: '#import-file-submit'
                        ,done: function(res){
                            // console.log(res)
                        }
                    });
                }
            });
        };

        // 删除
        var doDelete = function (ids) {
            layer.confirm('确定要删除吗？', function (i) {
                layer.close(i);
                layer.load(2);
                api.ajax({
                    url: common.base_server + 'userInfo/delUserInfo',
                    data: {UUIDs: ids},
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        layer.closeAll('loading');
                        if (data.Status == 2000) {
                            layer.msg(data.Data.Result, {icon: 1});
                            table.reload('student-table');
                            layer.closeAll('page');
                        } else {
                            layer.msg(data.Data.ErrorDes, {icon: 2});
                        }
                    }
                });
            });
        };

        //审核操作
        function doAudit(ids, state) {
            //请修改审核接口
            api.ajax({
                url: common.base_server + 'userInfo/setState',
                data: {UUIDs: ids, state: state},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.Status == 2000) {
                        layer.msg(data.Data.Result, {icon: 1});
                        table.reload('student-table');
                        layer.closeAll('page');
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                }
            });
        }


        //年级与专业下拉联级
        function getBatchClassData(selectId, classId) {
            api.req('batchInfo/BatchLD', {}, function (data) {
                if (data.Status == 2000) {

                    var opvs = new Array();
                    var selected = new Array();

                    var rs = data.Data;
                    for (var i = 0; i < rs.length; i++) {
                        if (i == 0 && !classId) {
                            selected.push(rs[i].batchID);
                        }
                        var trs = rs[i].classList;
                        if (trs) {
                            var topvs = new Array();
                            for (var j = 0; j < trs.length; j++) {
                                if ((i == 0 && j == 0) && !classId) {
                                    selected.push(trs[j].classID);
                                } else if (classId && classId == trs[j].classID) {
                                    selected.push(rs[i].batchID);
                                    selected.push(trs[j].classID);
                                }
                                topvs.push({name: trs[j].className, id: trs[j].classID})
                            }
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID, children: topvs});
                        } else {
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID});
                        }
                    }
                    if (selectId == 'search-batch-class-id')  {
                        batch_class_select = selectN(getSelectNParam(selectId, opvs, selected))
                    } else {
                        batch_class_id = selectN(getSelectNParam(selectId, opvs, selected))
                    }

                }
            });
        }
        function getIdArr(selectId) {
            var idArr = selectId === 'batch_class_id' ? batch_class_id.values : batch_class_select.values;
            if (idArr && Array.isArray(idArr) && idArr.length === 2 && idArr[0] > 0 && idArr[1] > 0) {
                return idArr;
            } else {
                layer.msg('请选择年级和专业', {icon: 2});
                return false
            }
        }
        function getSelectNParam(id, opvs, selected) {
            return {
                //元素容器【必填】
                elem: '#' + id,
                search:[false,true],
                //候选数据【必填】
                data: opvs,
                //为真只取最后一个值
                last:true,
                //默认值
                selected: selected,
                //空值项提示，可设置为数组['请选择省','请选择市','请选择县']
                tips: ['请选择年级', '请选择专业'],
                showTips: false,
                //数据的键名
                field:{idName:'id',titleName:'name',childName:'children'},
                //添加验证
                verify:'required'

            };
        }

    });
</script>
