<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">老师管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>老师管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            <div class="layui-inline">
                <div id="search-batch-class-id">
                </div>
            </div>
            <input id="teacher-search-value" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="teacher-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button id="teacher-btn-add" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
            <button id="teacher-btn-audit" class="layui-btn icon-btn layui-btn-warm"><i class="layui-icon icofont-license"></i>审核</button>
        </div>

        <table class="layui-table" id="teacher-table" lay-filter="teacher-table"></table>
    </div>
</div>


<!-- 表格操作列 -->
<script type="text/html" id="teacher-table-bar">

    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="audit">
        {{#  if(d.state == 0) { }}
        审核
        {{#  } else if(d.state == 1) { }}
        禁用
        {{#  } else { }}
        恢复
        {{#  } }}
    </a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="teacher-model">
    <form id="teacher-form" lay-filter="teacher-form" class="layui-form model-form">
        <input name="UUID" type="hidden"/>
        <input name="state" type="hidden" value="1"/>
        <input name="userType" type="hidden" value="2"/>
        <div class="layui-form-item">
            <label class="layui-form-label">年级/专业</label>
            <div class="layui-input-block">
                <div id="batch-class-id">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input name="loginName" placeholder="请输入用户" type="text" class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input name="loginPwd" placeholder="请输入密码" type="password" class="layui-input" autocomplete="off" maxlength="20"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input name="userName" placeholder="请输入姓名" type="text" class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input name="userTel" placeholder="请输入电话" type="text" class="layui-input" maxlength="40"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="userSex" value="1" title="男" checked>
                <input type="radio" name="userSex" value="2" title="女">
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
            <button class="layui-btn" lay-filter="teacher-form-submit" lay-submit>保存</button>
        </div>
    </form>
</script>


<script type="text/html" id="user-sex">
    {{#  if(d.userSex == 1){ }}
    男
    {{#  } else { }}
    女
    {{#  } }}
</script>

<script type="text/html" id="user-tpl-state">
    {{#  if(d.state == 0) { }}
    未审核
    {{#  } else if(d.state == 1) { }}
    已审核
    {{#  } else if(d.state == 2) { }}
    禁用
    {{#  } }}
</script>
<script>
    layui.use(['api', 'form', 'table', 'util', 'common', 'auth', 'admin', 'selectN'], function () {
        var form = layui.form;
        var table = layui.table;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var api = layui.api;
        var selectN = layui.selectN;

        var editIdArr = [];
        var batch_class_select, batch_class_id;

        initData();

        //初始化数据
        function initData() {

            //初始化联级
            getBatchClassData('search-batch-class-id', loadData, editIdArr);

        }

        function loadData() {

            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            // 渲染表格
            table.render({
                elem: '#teacher-table',
                url: common.base_server + 'userInfo/getTeaList',
                method: 'POST',
                where: {
                    UUID: auth.getUUID(),
                    batchID: batchID,
                    classID: classID
                },
                request: common.tableRequest,
                response: common.tableResponse,
                parseData: common.tableParseData,
                height: 'full-250',
                page: true,
                cols: [[
                    {type: 'checkbox'},
                    {field: 'loginName', title: '用户名'},
                    // {field: 'loginPwd', title: '密码'},
                    {field: 'userName', title: '姓名'},
                    {field: 'userTel', title: '电话'},
                    {field: 'userSex', title: '性别', templet: '#user-sex'},
                    {field: 'state', title: '状态', templet: '#user-tpl-state'},
                    {align: 'center', toolbar: '#teacher-table-bar', title: '操作', width: 160}
                ]]
            });
        }

        // 添加按钮点击事件
        $('#teacher-btn-add').click(function () {
            showEditModel();
        });

        // 批量删除按钮点击事件
        $('#teacher-btn-del').click(function () {
            var checkStatus = table.checkStatus('teacher-table');
            if (checkStatus.data.length == 0) {
                layer.msg('请选择需要删除的数据', {icon: 2});
                return;
            }
            var ids = new Array();
            $.each(checkStatus.data, function (i, v) {
                ids.push(v.UUID);
            })
            doDelete(ids.join(","));
        });
        // 审核按钮点击事件
        $('#teacher-btn-audit').click(function () {
            var checkStatus = table.checkStatus('teacher-table');
            if (checkStatus.data.length == 0) {
                layer.msg('请选择需要审核的数据', {icon: 2});
                return;
            }
            var ids = new Array();
            $.each(checkStatus.data, function (i, v) {
                if (v.state !== 1) {
                    ids.push(v.UUID);
                }
            });
            if (checkStatus.data.length !== ids.length) {
                layer.msg('请不要选择已审核的数据', {icon: 2});
                return;
            } else {
                layer.confirm('确定审核？', {icon: 3, title:'提示'}, function(index) {
                    doAudit(ids.join(","), 1);
                    layer.close(index);
                });
            }

        });

        // 表单提交事件
        form.on('submit(teacher-form-submit)', function (data) {
            var idArr = getIdArr('batch_class_id');
            var batchID = idArr[0];
            var classID = idArr[1];

            var field = data.field;
            field.batchID = batchID;
            field.classID = classID;

            layer.load(2);
            var url = '';
            if (data.field.UUID) {
                url = 'userInfo/editUserInfo';
            } else {
                url = 'userInfo/editUserInfo';
            }
            api.ajax({
                url: common.base_server + url,
                data: field,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.Status == 2000) {
                        layer.msg(data.Data.Result, {icon: 1});
                        table.reload('teacher-table');
                        layer.closeAll('page');
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                }
            });
            return false;
        });

        // 工具条点击事件
        table.on('tool(teacher-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'audit') { //审核
                var state = data.state == 0 ? 1 : data.state == 1 ? 2 : 1;
                var txt = data.state == 0 ? '审核' : data.state == 1 ? '禁用' : '恢复';
                layer.confirm('确认' + txt + '？', {icon: 3, title:'提示'}, function(index){
                    doAudit(data.UUID, state);
                    layer.close(index);
                });
            } else if (obj.event === 'edit') { //修改
                showEditModel(data);
            } else if (obj.event === 'del') { //删除
                layer.confirm('确认删除？', {icon: 3, title:'提示'}, function(index){
                    doDelete(data.UUID);
                    layer.close(index);
                });
            }
        });

        // 搜索按钮点击事件
        $('#teacher-btn-search').click(function () {
            var keyword = $('#teacher-search-value').val();
            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            table.reload('teacher-table', {where: {keyword: keyword, batchID: batchID, classID: classID}});
        });

        // 显示编辑弹窗
        var showEditModel = function (data) {
            layer.open({
                type: 1,
                title: data ? '修改老师' : '添加老师',
                area: '450px',
                offset: '120px',
                content: $('#teacher-model').html(),
                success: function () {
                    $('#teacher-form')[0].reset();
                    $('#teacher-form').attr('method', 'GET');
                    if (data) {
                        form.val('teacher-form', data);
                        $('#teacher-form').attr('method', 'GET');
                        var seelctId = [data.batchID, data.classID];
                        getBatchClassData('batch-class-id', '', seelctId);
                    } else {
                        $('#teacher-form').find("input[type=password]").attr('lay-verify', 'required');
                        getBatchClassData('batch-class-id', '', editIdArr);
                    }
                }
            });
        };

        // 删除
        var doDelete = function (ids) {
            layer.confirm('确定要删除吗？', function (i) {
                layer.close(i);
                layer.load(2);
                api.ajax({
                    url: common.base_server + 'userInfo/delUserInfo',
                    data: {UUIDs: ids},
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        layer.closeAll('loading');
                        if (data.Status == 2000) {
                            layer.msg(data.Data.Result, {icon: 1});
                            table.reload('teacher-table');
                            layer.closeAll('page');
                        } else {
                            layer.msg(data.Data.ErrorDes, {icon: 2});
                        }
                    }
                });
            });
        };



        //审核操作
        function doAudit(ids, state) {
            //请修改审核接口
            api.ajax({
                url: common.base_server + 'userInfo/setState',
                data: {UUIDs: ids, state: state},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.Status == 2000) {
                        layer.msg(data.Data.Result, {icon: 1});
                        table.reload('teacher-table');
                        layer.closeAll('page');
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                }
            });
        }



        //年级与专业下拉联级
        function getBatchClassData(selectId, callback, selected) {
            api.req('batchInfo/BatchLD', {}, function (data) {
                if (data.Status === 2000) {
                    var opvs = [];
                    // var selected = [];

                    var rs = data.Data;
                    for (var i = 0; i < rs.length; i++) {
                        if (i === 0 && selected.length === 0) {
                            selected.push(rs[i].batchID);
                        }
                        var trs = rs[i].classList;
                        if (trs) {
                            var topvs = [];
                            for (var j = 0; j < trs.length; j++) {
                                if ((i === 0 && j === 0) && selected.length === 1) {
                                    selected.push(trs[j].classID);
                                }
                                topvs.push({name: trs[j].className, id: trs[j].classID})
                            }
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID, children: topvs});
                        } else {
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID});
                        }
                    }
                    if (selectId === 'search-batch-class-id') {
                        batch_class_select = selectN(getSelectNParam(selectId, opvs, selected))
                    } else {
                        batch_class_id = selectN(getSelectNParam(selectId, opvs, selected))
                    }
                    if (typeof callback === "function") {
                        callback();
                    }
                }
            });
        }

        function getIdArr(selectId) {
            var idArr = selectId === 'batch_class_id' ? batch_class_id.values : batch_class_select.values;
            if (idArr && Array.isArray(idArr) && idArr.length === 2 && idArr[0] > 0 && idArr[1] > 0) {
                return idArr;
            } else {
                layer.msg('请选择年级和专业', {icon: 2});
                return false
            }
        }

        function getSelectNParam(id, opvs, selected) {
            return {
                //元素容器【必填】
                elem: '#' + id,
                search: [false, false],
                //候选数据【必填】
                data: opvs,
                //为真只取最后一个值
                // last:true,
                //默认值
                selected: selected,
                //空值项提示，可设置为数组['请选择省','请选择市','请选择县']
                tips: ['请选择年级', '请选择专业'],
                showTips: false,
                //数据的键名
                field: {idName: 'id', titleName: 'name', childName: 'children'},
                //添加验证
                verify: 'required'

            };
        }
    });
</script>
