<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">选题结果</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>选题结果</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="toolbar layui-toolbar layui-form">

            <div class="layui-inline">
                <div id="search-batch-class-id">
                </div>
            </div>
            <input id="topic-search-value" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="topic-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            <button id="topic-btn-export-batch" class="layui-btn icon-btn">导出全部数据</button>
            <button id="topic-btn-export" class="layui-btn icon-btn">导出本页数据</button>
        </div>
        <table class="layui-table" id="topic-table" lay-filter="topic-table"></table>
    </div>
</div>

<script type="text/html" id="topic-detail-model">
    <div id="topic-detail-form" class="layui-form model-form">
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-form-mid layui-word-aux">
                <label>{{title}}</label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-form-mid layui-word-aux">
                <pre>{{content}}</pre>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">关闭</button>
        </div>
    </div>
</script>

<script>
    layui.use(['api', 'form', 'table', 'util', 'common', 'auth', 'admin', 'formSelects', 'upload', 'selectN'], function () {
        var form = layui.form;
        var table = layui.table;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var api = layui.api;
        var formSelects = layui.formSelects;
        var upload = layui.upload;
        var selectN = layui.selectN;

        $.ajaxSetup({
            async: false
        })

        var batch_class_select, batch_class_id;

        var page = {};

        initData();

        //页面加载时初始化
        function initData() {
            //初始化联级
            getBatchClassData('search-batch-class-id');

            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            // 渲染表格
            table.render({
                elem: '#topic-table',
                url: common.base_server + 'setQuest/getSLQList',
                method: 'POST',
                where: {
                    UUID: auth.getUUID(),
                    batchID: batchID,
                    classID: classID
                },
                request: common.tableRequest,
                response: common.tableResponse,
                parseData: common.tableParseData,
                height: 'full-250',
                page: true,
                cols: [[
                    {type:'numbers'},
                    {field: 'title', title: '标题', templet: '<div><a href="javascript:;" class="layui-table-link" lay-event="detail">{{d.title}}</a></div>'},
                    {field: 'teaName', title: '出题人'},
                    {field: 'userName', title: '选题学生'},
                    {field: 'userNo', title: '学生学号'},
                    // {field: 'msg', title: '回复'},
                    // {align: 'center', toolbar: '#topic-table-bar', title: '操作', width: 180}
                ]],
                done: function(res, curr, count){
                    page.curr = curr
                    page.size = res.size
                }
            });

        }

        // 表单提交事件
        form.on('submit(topic-form-submit)', function (data) {
            layer.load(2);
            var url = '';
            if (data.field.stqID) {
                url = 'setQuest/setFB';
            }
            data.field.stqIDs = data.field.stqID
            api.req(url, data.field, function (data) {
                layer.closeAll('loading');
                if (data.Status == 2000) {
                    layer.msg(data.Data.Result, {icon: 1});
                    table.reload('topic-table');
                    layer.closeAll('page');
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
            return false;
        });

        // 工具条点击事件
        table.on('tool(topic-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') { //查看
                if (data.state == 1 || data.state == 4) {

                } else {
                    showDetailModel(data);
                }
            }
        });

        // 搜索按钮点击事件
        $('#topic-btn-search').click(function () {
            var keyword = $('#topic-edit-search').val();
            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            table.reload('topic-table', {where: {keyword: keyword, batchID: batchID, classID: classID}});
        });
        $('#topic-btn-export-batch').click(function () {
            var keyword = $('#topic-edit-search').val();
            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];

            //批量下载接口
            api.req('setQuest/ExportExcel', {keyword: keyword, batchID: batchID, classID: classID, pageNum: page.curr, pageSize: page.size}, function (data) {
                if (data.Status === 2000) {
                    downloadExcel(data.Data.excelAddr);
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
        });
        $('#topic-btn-export').click(function () {
            var keyword = $('#topic-edit-search').val();
            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];

            //批量下载接口
            api.req('setQuest/ExportExcel', {keyword: keyword, batchID: batchID, classID: classID, pageNum: page.curr, pageSize: page.size}, function (data) {
                if (data.Status === 2000) {
                    downloadExcel(data.Data.excelAddr);
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
        });

        function downloadExcel(url) {
            try {
                var elemIF = document.createElement("iframe");
                elemIF.src = url;
                elemIF.style.display = "none";
                document.body.appendChild(elemIF);
            } catch (e) {

            }
        }

        // 显示弹窗
        var showDetailModel = function (data) {
            layer.open({
                type: 1,
                title: '查看选题',
                area: '450px',
                offset: '120px',
                content: $('#topic-detail-model').html(),
                success: function () {
                    $('#topic-detail-form').vm(data)
                }
            });
        };


        //年级与专业下拉联级
        function getBatchClassData(selectId, classId) {
            api.req('batchInfo/BatchLD', {}, function (data) {
                if (data.Status == 2000) {

                    var opvs = new Array();
                    var selected = new Array();

                    var rs = data.Data;
                    for (var i = 0; i < rs.length; i++) {
                        if (i == 0 && !classId) {
                            selected.push(rs[i].batchID);
                        }
                        var trs = rs[i].classList;
                        if (trs) {
                            var topvs = new Array();
                            for (var j = 0; j < trs.length; j++) {
                                if ((i == 0 && j == 0) && !classId) {
                                    selected.push(trs[j].classID);
                                } else if (classId && classId == trs[j].classID) {
                                    selected.push(rs[i].batchID);
                                    selected.push(trs[j].classID);
                                }
                                topvs.push({name: trs[j].className, id: trs[j].classID})
                            }
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID, children: topvs});
                        } else {
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID});
                        }
                    }
                    if (selectId == 'search-batch-class-id')  {
                        batch_class_select = selectN(getSelectNParam(selectId, opvs, selected))
                    } else {
                        batch_class_id = selectN(getSelectNParam(selectId, opvs, selected))
                    }

                }
            });
        }
        function getIdArr() {
            var idArr = batch_class_select.values;
            if (idArr && Array.isArray(idArr) && idArr.length === 2 && idArr[0] > 0 && idArr[1] > 0) {
                return idArr;
            } else {
                layer.msg('请选择年级和专业', {icon: 2});
                return false
            }
        }
        function getSelectNParam(id, opvs, selected) {
            return {
                //元素容器【必填】
                elem: '#' + id,
                search:[false,true],
                //候选数据【必填】
                data: opvs,
                //为真只取最后一个值
                // last:true,
                //默认值
                selected: selected,
                //空值项提示，可设置为数组['请选择省','请选择市','请选择县']
                tips: ['请选择年级', '请选择专业'],
                //数据的键名
                field:{idName:'id',titleName:'name',childName:'children'},
                //添加验证
                verify:'required'

            };
        }
    });
</script>
