<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">答辩管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>答辩管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="toolbar layui-toolbar layui-form">

            <div class="layui-inline">
                <div id="search-batch-class-id">
                </div>
            </div>
            <input id="topic-search-value" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="topic-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>
        <table class="layui-table" id="topic-table" lay-filter="topic-table"></table>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="topic-table-bar1">
    {{# if (d.downLoadAddr1 && d.downLoadAddr1.length > 0) { }}
    <a class="layui-btn layui-btn-xs" lay-event="download1">下载</a>
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="preview1">预览</a>
    {{#  } }}
</script>
<!-- 表格操作列 -->
<script type="text/html" id="topic-table-bar">
    {{#  if(d.score === 0 || d.state == 1) { }}
    <a class="layui-btn layui-btn-xs" lay-event="check-view">批阅</a>
    <!--
        {{# if (d.ismodel == 1) { }}
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="unset-model">设为普通论文</a>
        {{# } else { }}
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="set-model">设为范文</a>
        {{# } }}
    -->
    {{#  } else { }}
    <a class="layui-btn layui-btn-xs" lay-event="check-view">查看</a>
    {{#  } }}
    <a class="layui-btn layui-btn-xs" lay-event="his-view">回顾</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="topic-model">
    <form id="topic-form" lay-filter="topic-form" class="layui-form model-form">
        <input name="spID" id="spID" type="hidden"/>

        <div class="layui-form-item">
            <label class="layui-form-label">已选题目</label>
            <div class="layui-form-mid layui-word-aux">
                <a href="javascript:;" class="topic-title">{{d.title}}</a>
                {{# if (d.state === 2) { }}
                {{# if (d.ismodel == 1) { }}
                <span class="layui-badge">范文</span>
                {{# } else { }}
                <span class="layui-badge layui-bg-gray">非范文</span>
                {{# } }}
                {{# } }}
                <span class="topic-content" style="display: none"><pre>{{d.content}}</pre></span>
            </div>
        </div>

        <!-- 老师未批阅 -->
        <div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">毕业论文</label>
                    <div class="layui-form-mid layui-word-aux">
                        {{d.pageTitle1}}
                    </div>
                </div>
                <div class="layui-inline pull-right">
                    <div class="layui-upload">
                        {{# if(d.subState1){ }}
                        <button type="button" class="layui-btn layui-btn-xs file-download" data-url="{{d.downLoadAddr1}}">下载</button>
                        <button type="button" class="layui-btn layui-btn-xs file-preview layui-btn-warm" data-url="{{d.downLoadAddr1}}">预览</button>
                        {{# } }}
                    </div>
                </div>
            </div>
        </div>

        <!-- 老师已经批阅 -->
        <div>
            <div class="layui-form-item">
                <label class="layui-form-label">小组名称</label>
                <div class="layui-form-mid">
                    {{d.groupName}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学生名称</label>
                <div class="layui-form-mid">
                    {{d.userName}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学生学号</label>
                <div class="layui-form-mid">
                    {{d.userNo}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学生电话</label>
                <div class="layui-form-mid">
                    {{d.userTel}}
                </div>
            </div>
            {{# if (d.state === 2) { }}
            <div class="layui-form-item">
                <label class="layui-form-label">审核老师</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.teaName}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">老师评分</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.score}}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">老师批语</label>
                <div class="layui-form-mid layui-word-aux">
                    {{d.teaContent}}
                </div>
            </div>
            {{# } }}
        </div>
        {{# if(d.state === 1){ }}
        <div class="layui-form-item">
            <label class="layui-form-label">评分</label>
            <div class="layui-input-block">
                <input name="score" type="text" placeholder="请输入评分" class="layui-input" maxlength="6" lay-verify="required" required>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">批语</label>
            <div class="layui-input-block">
                <textarea name="teaContent" placeholder="请输入批语" class="layui-textarea" maxlength="200"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否范文</label>
            <div class="layui-input-block">
                <input type="radio" name="ismodel" value="1" title="设为范文">
                <input type="radio" name="ismodel" value="2" title="普通论文" checked>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">取消</button>
            <button class="layui-btn" lay-filter="topic-form-submit" lay-submit>保存</button>
        </div>
        {{# } else { }}
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">关闭</button>
        </div>
        {{# } }}
    </form>
</script>

<script type="text/html" id="topic-file-model">

    <div class="layui-form model-form">
        <div id="topic-file-content"></div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">关闭</button>
        </div>
    </div>
</script>

<script type="text/html" id="topic-file-content-tpl">

    {{#  layui.each(d.vs, function(index, item){ }}
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{{item.title}}</legend>
    </fieldset>
    {{#  layui.each(item.fvs, function(index, sitem){ }}
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">{{sitem.label}}</label>
            <div class="layui-form-mid layui-word-aux">
                {{sitem.pageTitle}}
            </div>
        </div>
        <div class="layui-inline pull-right">
            <div class="layui-upload">
                {{# if (sitem.downLoadAddr && sitem.downLoadAddr.length > 0) { }}
                <button type="button" class="layui-btn layui-btn-xs file-download" data-url="{{sitem.downLoadAddr}}">下载</button>
                <button type="button" class="layui-btn layui-btn-xs file-preview layui-btn-warm" data-url="{{sitem.downLoadAddr}}">预览</button>
                {{#  } }}
            </div>
        </div>
    </div>
    {{# }) }}
    <div class="layui-form-item">
        <label class="layui-form-label">老师评价</label>
        <div class="layui-form-mid">
            {{item.teaContent}}
        </div>
    </div>
    {{# }) }}
</script>


<script type="text/html" id="scoreTpl">
    {{#  if(d.state === 2 && d.score > 0) { }}
    {{d.score}}
    {{#  } else { }}

    {{#  } }}
</script>

<script>
    layui.use(['api', 'form', 'table', 'laytpl', 'util', 'common', 'auth', 'admin', 'formSelects', 'upload', 'selectN'], function () {
        var form = layui.form;
        var table = layui.table;
        var laytpl = layui.laytpl;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var api = layui.api;
        var formSelects = layui.formSelects;
        var upload = layui.upload;
        var selectN = layui.selectN;

        var stage = 3;

        var editIdArr = [];
        var batch_class_select, batch_class_id;

        initData();
        //初始化数据
        function initData() {

            //初始化联级
            getBatchClassData('search-batch-class-id', loadData, editIdArr);

        }

        function loadData() {

            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            // 渲染表格
            table.render({
                elem: '#topic-table',
                url: common.base_server + 'stuPage/stuWorkList2',
                method: 'POST',
                where: {
                    UUID: auth.getUUID(),
                    batchID: batchID,
                    classID: classID,
                    stage: stage
                },
                request: common.tableRequest,
                response: common.tableResponse,
                parseData: common.tableParseData,
                height: 'full-250',
                page: true,
                cols: [[
                    {type: 'numbers'},
                    {field: 'title', title: '选择题目'},
                    {field: 'userName', title: '学生姓名', width: 92},
                    {field: 'userNo', title: '学生学号', width: 108},
                    {field: 'userTel', title: '学生电话', width: 92},
                    {align: 'center', toolbar: '#topic-table-bar1', title: '毕业论文', width: 108},
                    {field: 'score', title: '评分', templet: '#scoreTpl', width: 60},
                    {align: 'center', toolbar: '#topic-table-bar', title: '操作', width: 160}
                ]]
            });
        }


        // 表单提交事件
        form.on('submit(topic-form-submit)', function (data) {
            layer.load(2);
            api.req('stuPage/checkByTea', data.field, function (data) {
                layer.closeAll('loading');
                if (data.Status === 2000) {
                    layer.msg(data.Data.Result, {icon: 1});
                    table.reload('topic-table');
                    layer.closeAll('page');
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
            return false;
        });

        // 工具条点击事件
        table.on('tool(topic-table)', function (obj) {
            var data = obj.data;

            if (obj.event === 'check-view') { //批阅
                // doCheckView(data.id, 1);
                showEditModel(data)
            } else if (obj.event === 'his-view') {
                showFileModel(data);
            } else if (obj.event === 'set-model') { //设为范文
                doModel(data.spID, 1);
            } else if (obj.event === 'unset-model') { //设为普通论文
                doModel(data.spID, 2);
            } else if (obj.event === 'download1') {
                download(data.downLoadAddr1)
            } else if (obj.event === 'preview1') {
                preview(data.downLoadAddr1)
            }
        });

        // 搜索按钮点击事件
        $('#topic-btn-search').click(function () {
            var keyword = $('#topic-search-value').val();
            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            table.reload('topic-table', {where: {keyword: keyword, batchID: batchID, classID: classID}});
        });

        // 显示编辑弹窗
        var showEditModel = function (data) {
            data.subState1 = data.downLoadAddr1 && data.downLoadAddr1.length > 0;
            data.state = (data.score === '' || data.score === 0) ? 1 : 2;
            laytpl($('#topic-model').html()).render(data, function (html) {

                layer.open({
                    type: 1,
                    title: '中期答辩',
                    area: '450px',
                    offset: '120px',
                    content: html,
                    success: function () {

                        $('#topic-form')[0].reset();
                        $('#topic-form').attr('method', 'GET');
                        if (data) {
                            form.val('topic-form', data);
                            $('#topic-form').attr('method', 'GET');

                        }
                        initEvent()
                    }
                });
            })
        };
        var showFileModel = function (v) {

            layer.open({
                type: 1,
                title: '回顾',
                area: '450px',
                offset: '120px',
                content: $('#topic-file-model').html(),
            });

            var vv = {}
            vv.vs = [];
            api.ajax({
                url: common.base_server + 'stuPage/lookBack2',
                data: {
                    UUID: v.UUID,
                    stage: stage
                },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.Status === 2000) {
                        for (var i = 0; i < data.Data.length; i++) {
                            var vt = data.Data[i];
                            var ov = {};
                            ov.title = vt.stage === 1 ? '开题' : '中期检查';
                            ov.teaContent = vt.teaContent;
                            ov.fvs = [];
                            ov.fvs.push({
                                label: vt.stage === 1 ? '开题报告' : '翻译原文',
                                pageTitle: vt.pageTitle1,
                                downLoadAddr: vt.downLoadAddr1
                            });
                            ov.fvs.push({
                                label: vt.stage === 1 ? '文献综述' : '文献翻译',
                                pageTitle: vt.pageTitle2,
                                downLoadAddr: vt.downLoadAddr2
                            });
                            ov.fvs.push({
                                label: vt.stage === 1 ? '任务书' : '实习报告',
                                pageTitle: vt.pageTitle3,
                                downLoadAddr: vt.downLoadAddr3
                            });
                            if (vt.stage === 1) {
                                ov.fvs.push({
                                    label: '计划进度',
                                    pageTitle: vt.pageTitle4,
                                    downLoadAddr: vt.downLoadAddr4
                                });
                            }
                            vv.vs.push(ov);
                        }

                        laytpl($('#topic-file-content-tpl').html()).render(vv, function (html) {
                            $('#topic-file-content').append(html);
                        })
                        initEvent()
                    } else {
                        layer.msg(data.Data.ErrorDes, {icon: 2});
                    }
                }
            });
        }

        function initEvent() {
            $('.file-download').on('click', function () {
                download($(this).data('url'))
            });

            $('.file-preview').on('click', function () {
                preview($(this).data('url'))
            });
        }


        function preview(url) {
            // window.open('https://view.officeapps.live.com/op/view.aspx?src=' + $(this).data('url'), 'preview')
            window.open('http://www.xdocin.com/xdoc?_func=to&_format=html&_cache=true&_xdoc=' + url, 'preview');
        }

        function download(url) {
            try {
                var elemIF = document.createElement("iframe");
                elemIF.src = url;
                elemIF.style.display = "none";
                document.body.appendChild(elemIF);
            } catch (e) {

            }
        }

        //设为论文操作
        function doModel(spID, ismodel) {
            api.req('stuPage/setModel', {spID: spID, ismodel: ismodel}, function (data) {
                layer.closeAll('loading');
                if (data.Status === 2000) {
                    layer.msg(data.Data.Result, {icon: 1});
                    table.reload('topic-table');
                    layer.closeAll('page');
                } else {
                    layer.msg(data.Data.ErrorDes, {icon: 2});
                }
            });
        }


        //年级与专业下拉联级
        function getBatchClassData(selectId, callback, selected) {
            api.req('batchInfo/BatchLD', {}, function (data) {
                if (data.Status === 2000) {
                    var opvs = [];
                    // var selected = [];

                    var rs = data.Data;
                    for (var i = 0; i < rs.length; i++) {
                        if (i === 0 && selected.length === 0) {
                            selected.push(rs[i].batchID);
                        }
                        var trs = rs[i].classList;
                        if (trs) {
                            var topvs = [];
                            for (var j = 0; j < trs.length; j++) {
                                if ((i === 0 && j === 0) && selected.length === 1) {
                                    selected.push(trs[j].classID);
                                }
                                topvs.push({name: trs[j].className, id: trs[j].classID})
                            }
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID, children: topvs});
                        } else {
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID});
                        }
                    }
                    if (selectId === 'search-batch-class-id')  {
                        batch_class_select = selectN(getSelectNParam(selectId, opvs, selected))
                    } else {
                        batch_class_id = selectN(getSelectNParam(selectId, opvs, selected))
                    }
                    if (typeof callback === "function") {
                        callback();
                    }
                }
            });
        }
        function getIdArr() {
            var idArr = batch_class_select.values;
            if (idArr && Array.isArray(idArr) && idArr.length === 2 && idArr[0] > 0 && idArr[1] > 0) {
                return idArr;
            } else {
                layer.msg('请选择年级和专业', {icon: 2});
                return false
            }
        }
        function getSelectNParam(id, opvs, selected) {
            return {
                //元素容器【必填】
                elem: '#' + id,
                search:[false,true],
                //候选数据【必填】
                data: opvs,
                //为真只取最后一个值
                // last:true,
                //默认值
                selected: selected,
                //空值项提示，可设置为数组['请选择省','请选择市','请选择县']
                tips: ['请选择年级', '请选择专业'],
                showTips: false,
                //数据的键名
                field:{idName:'id',titleName:'name',childName:'children'},
                //添加验证
                verify:'required'

            };
        }
    });
</script>
