<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">我的学生作业</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!welcome">首页</a>
          <a><cite>我的学生作业</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="toolbar layui-toolbar layui-form">

            <div class="layui-inline">
                <div id="search-batch-class-id">
                </div>
            </div>
            <input id="topic-search-value" class="layui-input search-input" type="text" placeholder="输入关键字"/>&emsp;
            <button id="topic-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
        </div>

        <div class="layui-tab" style="margin-top: 10px">
            <ul class="layui-tab-title">
                <li class="layui-this">开题</li>
                <li>中期检查</li>
                <li>答辩</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table class="layui-table" id="topic-table-1" lay-filter="topic-table"></table>
                </div>
                <div class="layui-tab-item">
                    <table class="layui-table" id="topic-table-2" lay-filter="topic-table"></table>
                </div>
                <div class="layui-tab-item">
                    <table class="layui-table" id="topic-table-3" lay-filter="topic-table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="topic-table-bar">
    <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
</script>

<!-- 表单弹窗 -->
<script type="text/html" id="topic-model">
    <div class="layui-card">

        <div class="layui-card-body">
            <div id="topic-view" class="layui-form model-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">已选题目</label>
                    <div class="layui-form-mid layui-word-aux">
                        <a href="javascript:;" class="topic-title">{{d.title}}</a>
                        {{# if (d.reviewState) { }}
                        {{# if (d.ismodel == 1) { }}
                        <span class="layui-badge">范文</span>
                        {{# } else { }}
                        <span class="layui-badge layui-bg-gray">非范文</span>
                        {{# } }}
                        {{# } }}
                        <span class="topic-content" style="display: none"><pre>{{d.content}}</pre></span>
                    </div>
                </div>

                <!-- 老师未批阅 -->
                <div>
                    {{# if (!d.reviewState) { }}
                    <div class="layui-form-item">
                        <label class="layui-form-label">论文标题</label>
                        <div class="layui-form-mid">
                            {{d.pageTitle}}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">论文附件</label>
                        <div class="layui-input-block">
                            <div class="layui-upload">
                                {{# if(d.subState){ }}
                                <button type="button" class="layui-btn file-download" data-url="{{d.downLoadAddr}}">下载</button>
                                <button type="button" class="layui-btn layui-btn-warm file-preview" data-url="{{d.downLoadAddr}}">在线浏览</button>
                                {{# } }}
                            </div>
                        </div>
                    </div>
                    {{# } }}
                </div>

                <!-- 老师已经批阅 -->
                <div>
                    {{# if (d.reviewState) { }}

                    <div class="layui-form-item">
                        <label class="layui-form-label">论文标题</label>
                        <div class="layui-form-mid">
                            {{d.pageTitle}}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">论文附件</label>
                        <div class="layui-input-block">
                            <div class="layui-upload">
                                {{# if(d.subState){ }}
                                <button type="button" class="layui-btn file-download" data-url="{{d.downLoadAddr}}">下载</button>
                                <button type="button" class="layui-btn layui-btn-warm file-preview" data-url="{{d.downLoadAddr}}">在线浏览</button>
                                {{# } }}
                            </div>
                        </div>
                    </div>
                    {{# } }}
                    <div class="layui-form-item">
                        <label class="layui-form-label">学生名称</label>
                        <div class="layui-form-mid">
                            {{d.userName}}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">学生学号</label>
                        <div class="layui-form-mid">
                            {{d.userNo}}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">学生电话</label>
                        <div class="layui-form-mid">
                            {{d.userTel}}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">阶段</label>
                        <div class="layui-form-mid">
                            {{# if(d.stage == 1) { }}
                            开题
                            {{# } else if(d.stage == 2) { }}
                            中期检查
                            {{# } else if(d.stage == 3) { }}
                            答辩
                            {{# } }}
                        </div>
                    </div>
                    {{# if (d.reviewState) { }}
                    <div class="layui-form-item">
                        <label class="layui-form-label">审核老师</label>
                        <div class="layui-form-mid layui-word-aux">
                            {{d.teaName}}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">老师评分</label>
                        <div class="layui-form-mid layui-word-aux">
                            {{d.score}}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">老师批语</label>
                        <div class="layui-form-mid layui-word-aux">
                            {{d.teaContent}}
                        </div>
                    </div>
                    {{# } }}
                </div>
                <div class="model-view-footer">
                    <button class="layui-btn layui-btn-primary" ew-event="closeDialog" type="button">关闭</button>
                </div>
            </div>
        </div>
    </div>
</script>



<!-- 表格操作列 -->
<script type="text/html" id="topic-table-bar1">
    <a class="layui-btn layui-btn-xs" lay-event="download1">下载</a>
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="preview1">预览</a>
</script>
<script type="text/html" id="topic-table-bar2">
    <a class="layui-btn layui-btn-xs" lay-event="download2">下载</a>
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="preview2">预览</a>
</script>
<script type="text/html" id="topic-table-bar3">
    <a class="layui-btn layui-btn-xs" lay-event="download3">下载</a>
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="preview3">预览</a>
</script>
<script type="text/html" id="topic-table-bar4">
    <a class="layui-btn layui-btn-xs" lay-event="download4">下载</a>
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="preview4">预览</a>
</script>

<script type="text/html" id="stageTpl">
    {{#  if(d.stage == 1) { }}
    开题
    {{#  } else if(d.stage == 2) { }}
    中期检查
    {{#  } else if(d.stage == 3) { }}
    答辩
    {{#  } }}
</script>

<script type="text/html" id="stateTpl1">
    {{#  if(!(d.downLoadAddr1 && d.downLoadAddr1.length > 0 && d.downLoadAddr2 && d.downLoadAddr2.length > 0 && d.downLoadAddr3 && d.downLoadAddr3.length > 0 && d.downLoadAddr4 && d.downLoadAddr4.length > 0)) { }}
    未提交
    {{#  } else if (!(d.score > 0)) { }}
    未审核
    {{#  } else { }}
    已审核
    {{#  } }}
</script>
<script type="text/html" id="stateTpl2">
    {{#  if(!(d.downLoadAddr1 && d.downLoadAddr1.length > 0 && d.downLoadAddr2 && d.downLoadAddr2.length > 0 && d.downLoadAddr3 && d.downLoadAddr3.length > 0)) { }}
    未提交
    {{#  } else if (!(d.score > 0)) { }}
    未审核
    {{#  } else { }}
    已审核
    {{#  } }}
</script>
<script type="text/html" id="stateTpl3">
    {{#  if(!(d.downLoadAddr1 && d.downLoadAddr1.length > 0)) { }}
    未提交
    {{#  } else if (!(d.score > 0)) { }}
    未审核
    {{#  } else { }}
    已审核
    {{#  } }}
</script>


<script>
    layui.use(['api', 'form', 'table', 'util', 'common', 'auth', 'admin', 'formSelects', 'upload', 'selectN', 'laytpl'], function () {
        var form = layui.form;
        var table = layui.table;
        var common = layui.common;
        var auth = layui.auth;
        var layer = layui.layer;
        var util = layui.util;
        var admin = layui.admin;
        var api = layui.api;
        var formSelects = layui.formSelects;
        var upload = layui.upload;
        var selectN = layui.selectN;
        var laytpl = layui.laytpl;

        var editIdArr = [];
        var batch_class_select, batch_class_id;

        initData();

        //初始化数据
        function initData() {

            //初始化联级
            getBatchClassData('search-batch-class-id', loadData, editIdArr);

        }

        function loadData() {
            console.log(1)

            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];

            for (var i = 1; i < 4; i++) {

                var colArr;
                if (i === 1) {
                    colArr = [
                        {type: 'numbers'},
                        {field: 'title', title: '选择题目'},
                        {field: 'userName', title: '学生姓名', width: 92},
                        {field: 'userNo', title: '学生学号', width: 108},
                        {field: 'userTel', title: '学生电话', width: 92},
                        {align: 'center', toolbar: '#topic-table-bar1', title: '开题报告', width: 108},
                        {align: 'center', toolbar: '#topic-table-bar2', title: '文献综述', width: 108},
                        {align: 'center', toolbar: '#topic-table-bar3', title: '任务书', width: 108},
                        {align: 'center', toolbar: '#topic-table-bar4', title: '计划进度', width: 108},
                        {align: 'center', toolbar: '#topic-table-bar', title: '操作', width: 72}
                    ];
                }
                if (i === 2) {
                    colArr = [
                        {type: 'numbers'},
                        {field: 'title', title: '选择题目'},
                        {field: 'userName', title: '学生姓名', width: 92},
                        {field: 'userNo', title: '学生学号', width: 108},
                        {field: 'userTel', title: '学生电话', width: 92},
                        {align: 'center', toolbar: '#topic-table-bar1', title: '翻译原文', width: 108},
                        {align: 'center', toolbar: '#topic-table-bar2', title: '文献翻译', width: 108},
                        {align: 'center', toolbar: '#topic-table-bar3', title: '实习报告', width: 108},
                        {align: 'center', toolbar: '#topic-table-bar', title: '操作', width: 72}
                    ];
                }
                if (i === 3) {
                    colArr = [
                        {type: 'numbers'},
                        {field: 'title', title: '选择题目'},
                        {field: 'userName', title: '学生姓名', width: 92},
                        {field: 'userNo', title: '学生学号', width: 108},
                        {field: 'userTel', title: '学生电话', width: 92},
                        {align: 'center', toolbar: '#topic-table-bar1', title: '毕业论文', width: 108},
                        {align: 'center', toolbar: '#topic-table-bar', title: '操作', width: 72}
                    ];
                }

                // 渲染表格
                table.render({
                    elem: '#topic-table-' + i,
                    url: common.base_server + 'stuPage/myStuWorkList2',
                    method: 'POST',
                    where: {
                        UUID: auth.getUUID(),
                        batchID: batchID,
                        classID: classID,
                        stage: i
                    },
                    request: common.tableRequest,
                    response: common.tableResponse,
                    parseData: common.tableParseData,
                    height: 'full-328',
                    page: true,
                    cols: [
                        colArr
                    ]
                });
            }
        }


        // 表单提交事件
        form.on('submit(topic-form-submit)', function (data) {
            layer.load(2);
            api.req('user_state.json', data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                    table.reload('topic-table');
                    layer.closeAll('page');
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }, $('#topic-form').attr('method'));
            return false;
        });

        // 工具条点击事件
        table.on('tool(topic-table)', function (obj) {
            var data = obj.data;

            if (obj.event === 'download1') {
                download(data.downLoadAddr1)
            } else if (obj.event === 'preview1') {
                preview(data.downLoadAddr1)
            } else if (obj.event === 'download2') {
                download(data.downLoadAddr2)
            } else if (obj.event === 'preview2') {
                preview(data.downLoadAddr2)
            } else if (obj.event === 'download3') {
                download(data.downLoadAddr3)
            } else if (obj.event === 'preview3') {
                preview(data.downLoadAddr4)
            } else if (obj.event === 'download4') {
                download(data.downLoadAddr4)
            } else if (obj.event === 'preview4') {
                preview(data.downLoadAddr4)
            } else if (obj.event === 'view') {
                showViewModel(data)
            }
        });

        // 搜索按钮点击事件
        $('#topic-btn-search').click(function () {
            var keyword = $('#topic-edit-search').val();
            var idArr = getIdArr();
            var batchID = idArr[0];
            var classID = idArr[1];
            table.reload('topic-table-1', {where: {keyword: keyword, batchID: batchID, classID: classID}});
            table.reload('topic-table-2', {where: {keyword: keyword, batchID: batchID, classID: classID}});
            table.reload('topic-table-3', {where: {keyword: keyword, batchID: batchID, classID: classID}});
            // table.reload('topic-table', {where: {keyword: keyword, batchID: batchID, classID: classID}});
        });

        // 显示查看弹窗
        var showViewModel = function (data) {

            data.subState1 = data.downLoadAddr1 && data.downLoadAddr1.length > 0;
            data.subState2 = data.downLoadAddr2 && data.downLoadAddr2.length > 0;
            data.subState3 = data.downLoadAddr3 && data.downLoadAddr3.length > 0;
            data.subState4 = data.downLoadAddr4 && data.downLoadAddr4.length > 0;
            // data.reviewState = data.state === 2;
            if (data.stage === 1) {
                data.label1 = '开题报告'
                data.label2 = '文献综述'
                data.label3 = '任务书'
                data.label4 = '计划进度'
            } else if (data.stage === 2) {
                data.label1 = '翻译原文'
                data.label2 = '文献翻译'
                data.label3 = '实习报告'
            } else if (data.stage === 3) {
                data.label1 = '毕业论文'
            }
            data.reviewState = data.score !== '' && data.score > 0;
            $.get('/components/tpl/topic-view.html', function (hs) {
                laytpl(hs).render(data, function (html) {
                    layer.open({
                        type: 1,
                        title: '查看论文',
                        area: '450px',
                        offset: '120px',
                        content: html
                    });
                    initEvent()
                })
            })
        };

        function initEvent() {

            $('.topic-title').on('click', function() {
                var that = this;
                // layer.tips($('.topic-content').html(), that); //在元素的事件回调体中，follow直接赋予this即可
                layer.alert($('.topic-content').html(), {title: '内容',closeBtn: 0});

            });

            $('.file-download').on('click', function () {
                download($(this).data('url'))
            });

            $('.file-preview').on('click', function () {
                preview($(this).data('url'))
            });
        }


        function preview(url) {
            // window.open('https://view.officeapps.live.com/op/view.aspx?src=' + $(this).data('url'), 'preview')
            window.open('http://www.xdocin.com/xdoc?_func=to&_format=html&_cache=true&_xdoc=' + url, 'preview');
        }

        function download(url) {
            try {
                var elemIF = document.createElement("iframe");
                elemIF.src = url;
                elemIF.style.display = "none";
                document.body.appendChild(elemIF);
            } catch (e) {

            }
        }


        //年级与专业下拉联级
        function getBatchClassData(selectId, callback, selected) {
            api.req('batchInfo/BatchLD', {}, function (data) {
                if (data.Status === 2000) {
                    var opvs = [];
                    // var selected = [];

                    var rs = data.Data;
                    for (var i = 0; i < rs.length; i++) {
                        if (i === 0 && selected.length === 0) {
                            selected.push(rs[i].batchID);
                        }
                        var trs = rs[i].classList;
                        if (trs) {
                            var topvs = [];
                            for (var j = 0; j < trs.length; j++) {
                                if ((i === 0 && j === 0) && selected.length === 1) {
                                    selected.push(trs[j].classID);
                                }
                                topvs.push({name: trs[j].className, id: trs[j].classID})
                            }
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID, children: topvs});
                        } else {
                            opvs.push({name: rs[i].batchName, id: rs[i].batchID});
                        }
                    }
                    if (selectId === 'search-batch-class-id') {
                        batch_class_select = selectN(getSelectNParam(selectId, opvs, selected))
                    } else {
                        batch_class_id = selectN(getSelectNParam(selectId, opvs, selected))
                    }
                    if (typeof callback === "function") {
                        callback();
                    }
                }
            });
        }

        function getIdArr() {
            var idArr = batch_class_select.values;
            if (idArr && Array.isArray(idArr) && idArr.length === 2 && idArr[0] > 0 && idArr[1] > 0) {
                return idArr;
            } else {
                layer.msg('请选择年级和专业', {icon: 2});
                return false
            }
        }

        function getSelectNParam(id, opvs, selected) {
            return {
                //元素容器【必填】
                elem: '#' + id,
                search: [false, true],
                //候选数据【必填】
                data: opvs,
                //为真只取最后一个值
                // last:true,
                //默认值
                selected: selected,
                //空值项提示，可设置为数组['请选择省','请选择市','请选择县']
                tips: ['请选择年级', '请选择专业'],
                //数据的键名
                field: {idName: 'id', titleName: 'name', childName: 'children'},
                //添加验证
                verify: 'required'

            };
        }
    });
</script>