
<script id="topNav" type="text/html">
    {{# layui.each(d, function(index, item){ }}
    {{# if(!item.hidden){ }}
    <li class="layui-nav-item">
        <a href="{{item.url}}">{{ item.name }}</a>
        {{# if(item.subMenus&&item.subMenus.length>0){ }}
        <dl class="layui-nav-child">
            {{# layui.each(item.subMenus, function(index, subItem){ }}
            {{# if(!subItem.hidden){ }}
            <dd>
                <a href="{{ subItem.url }}">{{ subItem.name }}</a>
            </dd>
            {{# } }}
            {{# }); }}
        </dl>
        {{# } }}
    </li>
    {{# } }}
    {{# }); }}
</script>