<div class="layui-card-header">
    <h2 class="header-title">修改密码</h2>
</div>
<div class="layui-card-body" style="padding: 30px;">
    <form class="layui-form" id="form-psw">
        <div class="layui-form-item">
            <input type="password" name="newPwd" required lay-verify="required|psw" class="layui-input"
                   placeholder="请输入新密码" lay-verType="tips">
        </div>
        <div class="layui-form-item">
            <input type="password" name="reNewPwd" required lay-verify="required|repsw" class="layui-input"
                   placeholder="再次输入新密码" lay-verType="tips">
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="submit-psw">确认修改</button>
        </div>
    </form>
</div>

<script>
    layui.use(['api', 'form', 'admin'], function () {
        var form = layui.form;
        var api = layui.api;
        var admin = layui.admin;

        //监听提交
        form.on('submit(submit-psw)', function (data) {
            layer.load(2);
            api.req('userInfo/upPwd', data.field, function (data) {
                if (data.Status == 2000) {
                    layer.closeAll('loading');
                    admin.closePopupRight();
                    layer.msg('修改成功', {icon: 1});
                    layer.closeAll('page');
                } else {
                    layer.closeAll('loading');
                    layer.msg(data.data.ErrorDes, {icon: 2});
                }
            }, 'POST');
            return false;
        });

        //添加表单验证方法
        form.verify({
            psw: [/^[\S]{5,12}$/, '密码必须5到12位，且不能出现空格'],
            repsw: function (t) {
                if (t !== $('#form-psw input[name=newPwd]').val()) {
                    return '两次密码输入不一致';
                }
            }
        });
    });
</script>